[2011-07-05 00:21] Scoup opened #1 "About zoom/bounds change"
Hello,

I'm testing the heatmap and is a great work. Actually I'm using with gmaps and there's a "trouble" when you change the zoom/bounds because the canvas stay relative of parent div of gmaps.
I was reading about -webkit/-moz transform and thinking about use this relative to remake the canvas and stay it "out" of this scale. What u think about? Do u have some idea about?
Thanks.

[2011-11-03 20:58] crickeys opened #6 "use typeof instead of instanceOf"
I found that in certain scenarios on some browsers (firefox latest 7) the instanceOf for the element does NOT evalute to an Object even though the typeOf is "object". This appears to be if using the heatmap in an iframe or different window.

So this:
me.set("element", (config.element instanceof Object)?config.element:document.getElementById(config.element));

would be better as:
me.set("element",

[2011-12-22 12:31] drupol opened #13 "New type of Heatmaps"
Hello there,

I'm willing to create such kinds of Heatmaps: http://alastaira.files.wordpress.com/2011/02/image22.png

Is there people who can help me to do it or point me in the right directions ?

Thanks !

[2012-01-14 20:54] ghalex opened #14 "Google Layer"
Adding points using addDataPoint() function is not working properly after you pan the map.

For ex. this code:
google.maps.event.addListener(map, 'click', function( evt ) {
       heatmap.addDataPoint(evt.latLng.lat(), evt.latLng.lng());
})

does not work after pan.

[2012-02-09 15:41] huttarl opened #16 "logarithmic color scale"
It would be nice to have the option of using a logarithmic (instead of linear) mapping for the color scale. E.g. see map at http://en.wikipedia.org/wiki/Logarithmic_scale#Graphic_representation
A logarithmic scale makes it easier to see and compare ratio relationships (instead of interval relationships) over a large data range.

I think this could be implemented either in the drawing of the alpham

[2012-04-03 08:49] gowrishnkar opened #22 "Labels issue"
i want to show the x axis and y axis labels.but unable to do that? any one please help me

[2012-06-06 10:01] oliverland opened #25 "What is the max point numbers?"
Hi

I hope it's ok to post this question here.
I would like to say this project is great!!!
I am using google map and I want to create a heatmap.
I've tried to follow your example - and it's works.
I have about 5400 point to add to the map - I've tried it and it doesn't work.

What is the max number of point you can add?

if I need to add about 50000 point - can i use this project or can you recom

[2012-06-07 20:03] carver opened #26 "Empty Heatmap in FF 12 or 13"
Reproduction steps:
- In Windows 7, open Firefox 13
- go to http://www.patrick-wied.at/static/heatmapjs
- click "Display website's realtime heatmap"
- no heatmap displayed

The same demo heatmap displays correctly in Chrome and IE.

[2012-08-15 22:15] #1 closed, assigned to nobody

[2012-08-15 22:17] #22 closed, assigned to nobody

[2012-08-23 17:31] ffleandro opened #27 "Leaflet support"
It would be great if there was also support for Leaflet maps.
I was trying to implement it myself, but I'm really out my league here.
There is already a heatmap [project](https://github.com/sunng87/heatcanvas) for Leaflet, however I really like this one and I was already sucessfully using it on Google Maps.

Is anyone interested in this?

[2012-08-29 19:32] stebesplace opened #28 "Best method for collecting data?"
I'd love to implement this on a site, where I'm collecting the data, and will use headmap.js to build the results once in awhile. The problem, is that I'm not sure how to collect the actual data in real time?

For example, this data:

{max: 90, data: [
{x: 100, y: 100, count: 80},
{x: 120, y: 120, count: 60},
{x: 100, y: 80, count: 90},
{x: 111, y: 110, count: 60},
{x: 201, y: 150, count: 90},
{x:

[2012-09-03 15:40] #27 closed, assigned to nobody

[2012-10-09 00:02] douglaslise opened #34 "How to use the legend feature recently implement?"
I have seen in commit history that you've added legend support and I got very interesting in it, but even examining the source I haven't understood how to use it. Could you give me some tip?

[2013-01-15 07:57] dluffy opened #37 "canvasContext.fillRect throws NS_ERROR_FAILURE exception in Firefox"
In Firefox, when the heatmap's height changes to higher than 20000, it sometimes throws the exception of "Component returned failure code: 0x80004005 (NS_ERROR_FAILURE) [nsIDOMCanvasRenderingContext2D.fillRect]". I'm really anxious for the solutions.Thx

[2013-01-15 14:39] yuvadm opened #38 "Implement a mapbox.js heatmap layer"
Haven't found an existing implementation, might do so myself soon.

[2013-02-12 23:12] ericavijay opened #40 "redraw method for leaflet-heatmap."
When updating a dataset with addDataSet method in HeatMapLayer, can you provide a redraw() method to update with the new dataset or new additional data points?

[2013-03-04 20:23] simonwjackson opened #42 "Option for only collecting the data?"
I'd like to use this plugin to collect data for A/B testing. Is it possible to turn off visualization/canvas part?

[2013-03-04 21:46] #42 closed, assigned to nobody

[2013-03-22 14:18] Zverik opened #43 "Heatmap looks weird in Leaflet with radius < 30"
Check http://offsets.textual.ru/map (radius=10; click "heatmap"). When radius < 30, all heatmap blobs are cut into boxes too small.

[2013-03-22 18:52] drupol opened #44 "Implement a custom Renderer using Heatmap.js"
Hello,

Do you think it would be a good idea to create a custom renderer using heatmap.js ?

Example of code:

[code]

I'm asking this because I'm trying to implement Heatmaps in Drupal and OpenLayers and I'm having some troubles, related to the asynchronous loading of features through geoJSON or KML.

Thanks

[2013-03-25 12:42] Zverik opened #45 "Heatmap does not work with latest leaflet"
I mean "leaflet master" from [this page](http://leafletjs.com/download.html). It shows heatmap only on transitions, but not on a static maps, regardless of zoom level.

[2013-04-10 18:34] suminb opened #50 "OpenLayers Example"
![Screen Shot 2013-04-10 at 11 32 36 AM](https://f.cloud.github.com/assets/136119/363790/173648a4-a20d-11e2-8aab-f012f4921ebe.png)

The map is not properly rendered... (Chrome 26.0.1410.43, OSX 10.8.3)

[2013-04-19 02:28] george-silva opened #52 "Cannot render heatmap with OL and Google Streets layer"
Hello,

I'm not sure if it should work, but I'm using OpenLayers as my map library and I need to display a google maps base layer, the streets layer, for instance.

I've copied and pasted code from the OpenLayers sample and it all runs smooth but nothing draws.

Is this a problem with the library or am I screwing things up?

Example:

[code]

[2013-04-19 02:37] #52 closed, assigned to nobody

[2013-04-19 23:17] #45 closed, assigned to nobody

[2013-04-19 23:18] #44 closed, assigned to nobody

[2013-04-19 23:21] #25 closed, assigned to nobody

[2013-04-19 23:23] #13 closed, assigned to nobody

[2013-04-19 23:26] #26 closed, assigned to nobody

[2013-04-23 11:01] mourner opened #54 "Update Leaflet to the latest stable"
Updating Leaflet to the latest stable will fix the wonky zoom animation issue in Chrome.

[2013-05-03 05:55] hiteshsingla opened #57 "Creating leaflet using custom image instead of Google Map"
Hi
First of all,Great Work!!!!
I want a little support,i want to use my own image having zoom in and zoom out feature.
And want to draw heatmap over it.
So is there a way out to do so.
I've seen your examples but you are using google maps for that.
So is it possible to do the same with my own image?

[2013-05-06 21:46] ansman opened #58 "Change colour when merging spots on leaflet layers"
Say you have 3 spots with a value or 100 each.

When zooming out 2 of those spots will merge, both of the remaining dots will have the same colour.

The dot containing two dots should be 100% and the other should be 50%.

[2013-05-08 11:08] feifeipan opened #59 "the heatmap image has been cut"
hi,

 heatmap is really cool.I am trying to use it in my website.

I just render about 500 points in a div, but the heatmap image has been cut.

![image](https://f.cloud.github.com/assets/2155605/476927/61beaa42-b7cf-11e2-9aec-88fd4ce10900.png)

Here is my config
var config = {
    "radius": 15,
    "element": "heatmapEl",
    "visible": true,
    "opacity": 20,
    "gradient": { 0.45: "rgb(0,0,25

[2013-05-23 13:14] y45 opened #60 "two color gradient"
Is there a ways to create a two color gradient like count: (blue) -1 > 0 > 1 (red) with heatmap.js?

[2013-06-07 07:50] TimoVeld opened #61 "HTML5 required for user or administrator?"
This plugin looks great.
One thing I couldn't find in the documentation is whether HTML5 compliant browsers are required for writing the data, or only for the reading part.

So my question is, is the data gathered only apply able to users with an HTML5 browser? Or is the data global and is HTML5 only required for the readout of the data?

[2013-06-21 11:26] LSA-El opened #62 "Leaflet demo not working with latest version"

[2013-06-25 08:05] Danielku15 opened #64 "VML Support /"
Currently you are using a canvas layer for rendering the heatmap. For old-browser support (IE 6-8) it would be awesome to have a VML fallback. You might know excanvas (http://code.google.com/p/explorercanvas/).

It shouldn't be that much work to create an abstraction layer for different drawing engines. As far as I know you are using filled rects and arcs for generating the heatmap. Using such an

[2013-06-27 14:34] ghost opened #65 "Canvas not redrawn unless zoom is changed with leaflet"
I have a strange bug in my app using the heatmap.js plugin, and I'm not sure if the problem is in my code, in leaflet, or in the plugin.

I'm drawing heatmaps and dynamically creating new ones. So it should erase the old one and trace a new one. Surprisingly it doesn't erase the old one until I zoom out or in.

I also saw a " cannot read propriety "_zoom" of null "error once but I have been unable

[2013-07-04 16:43] #65 closed, assigned to nobody

[2013-07-06 23:20] #61 closed, assigned to nobody

[2013-07-24 03:56] tristang opened #69 "Setting data via setDataSet results in differently stored data which breaks exportDataSet"
Using the same data points, eg:

[code]

Setting the heatmap's store data via `addDataPoint`:

[code]

...results in a the data stored as a two dimensional array with indices of the x and y coordinates (like data[x][y]), and values as the count at that coordinate.

But setting the same data via `setDataSet`:

[code]

...results in the `heatmap.store` data as a single dimensional array of points li

[2013-07-26 00:47] jimRsmiley opened #70 "heatmap-leaflet.js broken _draw on radiusValue"
I couldn't get heatmap-leaflet.js working until I fixed line 173 from:

radiusValue = this.options.radius.value;

to

radiusValue = this.options.radius;

[2013-07-28 01:08] skiverk opened #71 "heatmap-leaflet.js needs to implement getBounds so map can fit bounds"
To be able to:

map.fitBounds( heatMapLayer );

I needed to implement getBounds:

L.TileLayer.HeatMap.prototype.getBounds = function() {
     var self = this;
     return self._bounds;
}

[2013-07-30 15:14] jasonkarns opened #72 "Versions?"
Would be nice if the library used semver (or really versions at all). And had tags pointing to those commits so GitHub Releases were useful.

[2013-07-31 08:49] chinchang opened #73 "Not working on Chrome 28 (blink) any more"
No errors in console. Canvas simply remains blank.

[2013-07-31 18:25] peluja1012 opened #74 "heatmap-leaflet.js lacks the ability to pass in a max value to setData()"
Other versions of this library, like the gmaps version, provide the ability to pass in a max value as an argument to the setData() function. However, heatmap-leaflet.js seems to be lacking this feature. Are there any plans to add it?

[2013-08-01 14:26] dhatcher opened #75 "heatmap-arcgis.js doesn't work with version 3.5 of the ArcGIS API"
If you switch out the 3.2 api in arcgis.html for the 3.5 version it throws a TypeError "esri.layers is undefined" in heatmap-arcgis.js on the line "var Widget = declare("HeatmapLayer", [esri.layers.DynamicMapServiceLayer], {"

You can test this by changing script type="text/javascript" src="http://serverapi.arcgisonline.com/jsapi/arcgis/3.2" to script type="text/javascript" src="http://serverapi.a

[2013-08-04 23:49] patrickarlt opened #76 "Leaflet layer doesn't handle dynamic data very well"
I have been able to reproduce some strange results by constantly adding data to the heatmap. here is what it looks like...

![leaflet_heatmap_demo](https://f.cloud.github.com/assets/378557/907749/11bf8cc0-fd5f-11e2-804a-619d67130c6e.png)

If you add this code to the map and click a few times you will start to notice that that you no longer have a nice continuous heatmap and that points start to la

[2013-09-11 21:47] srinivasmangipudi opened #79 "When radius is small < 7, in the leaflet heatmap layer, the heatmap is clipped on tile boundaries"
attaching image to show the problem. this occurs for radius = 3. I see this clipping till radius = 7, after that it start smoothing out and is difficult to see.

![screen shot 2013-09-11 at 6 46 56 pm](https://f.cloud.github.com/assets/490356/1126867/b7b6b218-1b2b-11e3-8ee6-cb56c63e0a80.png)

[2013-09-18 10:22] zog opened #80 "1D heatmap"
Hi,

first of all many thanks for the great job that has been made with this lib.
Is there any way I can use it to produce 1D heatmaps ? For now, the only solution I've figured out is to set all the points at the same y coordinate (I want an horizontal map), but as the zones are circular, it doesn't really produce the desired result.

What I get:
![capture decran 2013-09-18 a 12 20 06](https://f.c

[2013-09-24 09:42] gerbsen opened #81 "Radius of gradient very strange"
Hi,
first of all thank you for this extremely cool library. It was fun to use it! :)
I have a question regarding the gradient radius. If I add a single point to the map (using the leaflet extension) I end up with a circle which is 95% red and the outer 5% make up  the rest of the gradient.

This is what I have:
![screen shot 2013-09-24 at 11 25 09](https://f.cloud.github.com/assets/1186245/1198610

[2013-10-07 01:11] ajbeaven opened #83 "Most recent build of leaflet breaks heatmap-leaflet"
Leaflet 0.6.4, the most recent stable version works, however if you're building the leaflet source yourself, the heatmap fails to render any of the points with a js error at certain zoom level (some levels work and some don't depending on the radius you've set).

[2013-11-18 17:32] ramotswa opened #85 "addDataPoint equivalent for leaflet layer?"
I'm trying to dynamically update the heatmap layer when I click on the map based on certain parameters. So if the parameters come out true; I was hoping to do:
heatmapLayer.addData([{}]);
which works fine, but overwrites all other data.
I see from your dynamic canvas example that the 'heatmap.store.addDataPoint()' is what I'm after, is there a way to do this with the leaflet layer?

Thanks, and gr

[2013-11-21 12:22] msgoloborodov opened #86 "Heatmap crashes with latest leaflet version 0.7"
Uncaught Error: IndexSizeError: DOM Exception 1 heatmap.js:512

[2013-11-27 09:56] JacksonTian opened #87 "What's mean of h337?"
any special mean?

[2013-11-27 13:06] #87 closed, assigned to nobody

[2013-12-13 00:58] liuxiaoer opened #88 "ol3 support"
does heatmap.js support ol3?

[2013-12-19 21:37] pdelorme opened #89 "heatmap getting jumpy after dragging"
Hi,

I'm using heatmap.js + googlemap.

Heatmap displays perfectly and I can zoom in and out without problems.
but once I have dragged the map, the rendering gets jumpy.
That is, on refresh, it displays well (in sync with the drag), but immediatly translates the heatmap to the place it was before I dragged. It remains jumpy like this at every refresh.

code is as follow :

[code]

...

[code]

any

[2014-02-10 08:01] #80 closed, assigned to nobody

[2014-02-16 19:27] fccoelho opened #94 "Not compatible with leaflet 0.7.1?"
Hi I am having trouble to get a leaflet heatmap to work, then I noticed that, in the examples, the leaflet version used is 0.5.1. In my project I am using version 0.7.1

when I changed the leaflet version in the leaflet example to 0.7.1 the example also stopped working. The erro I am getting is:

`Uncaught TypeError: Cannot read property 'lng' of undefined` in line 136 of `heatmap-leaflet.js`

[2014-03-25 14:56] Robinfr opened #96 "Multiple heatmaps"
It doesn't seem to be possible to have multiple heatmaps on one page?

[2014-03-26 08:46] Robinfr opened #98 "setDataSet unexpected behaviour"
Calling heatmap.setDataSet(heatmap.exportDataSet()) gives unexpected behaviour. In fact the points on the canvas simply dissapear and are not redrawn.

I would expect the points on the canvas to be redrawn.

[2014-04-11 21:43] vlasvlasvlas opened #99 "error when loading multiple points (+1000 points)"
hi,

i got this error:

"Uncaught TypeError: Cannot read property 'lon' of undefined "

i need to load aprox 55.000 points

and the error is only trying to bringing 1.000

(if i put 250 it works fine)

attached image of chrome console error:

![11-04-2014 18-40-54](https://cloud.githubusercontent.com/assets/4071796/2685014/0a6b783a-c1c2-11e3-9a2c-0ed6923f2dd7.png)

[2014-04-14 00:36] JohnMcLear opened #100 "Width / Height of container"
Heya, sometimes if a container doesn't have a set width/height (IE width:100% / height:100%) the heatmap will fail to render.  While this is probably expected behaviour some more useful debug would be helpful.  It's caught me out twice now and I know about it..

[2014-04-22 12:30] ghost opened #101 "Max number of data points supported in Heatmap.js"
Hi

How much data points can the heatmap.store.setDataSet() render. Our canvas size is 1280 x 715 px and in the worst case we will get 915200 pixel data for rendering (after aggregating the data). Will heatmap be able to render this load from JSON sent to heatmap.store.setDataSet() ?

I understand that 1000 points will take 60ms to render.

[2014-04-24 13:13] roydondsouza opened #102 "How to draw legend on canvas instead of HTML"
I had a requirement to export heatmap as an image. So I added the following:

In HTML:
< a id="downloadHeatmap" class="btn">Download< / a >

In jQuery:
function downloadCanvas(link, canvasId, filename) {
			    link.href = $('#heatmapArea>canvas')[0].toDataURL();
			    link.download = filename;
			}
				document.getElementById('downloadHeatmap').addEventListener('click', function() {
			    downl

[2014-05-08 20:29] chadcrowell opened #103 "X+Y coordinates in IE9/10/11 reporting incorrectly?"
Has anyone experienced where heatmap.util.mousePosition in IE9/10/11 returns negative x and y positions where all other browsers return correct positions? It seems like 0,0 is somewhere in the middle right of the region instead of top left. It could be some other piece of JS on the page but seems like it may be a bug.

cc/ @webbower

[2014-05-14 09:06] pipanchik opened #104 "How to determine the value (x,y,count) at the cursor?"

[2014-06-07 16:53] iamtimdavis opened #105 "Using Heatmap with GMAPS & RequireJS"
This is an awesome plugin!

Just wondering - I've been trying to get this to work with RequireJS and Gmaps. The Gmaps works fine and the map loads - but using Heapmat constantly gives me issues.

Is there some way to fix this ?

[2014-06-08 17:17] #105 closed, assigned to nobody

[2014-06-09 11:30] #101 closed, assigned to nobody

[2014-06-23 13:21] AAudusseau opened #106 "Unable to run the example"
Hi,
I'm trying to display a simple heatmap with Leaflet 0.7.3 but I always got this error : <pre>Uncaught IndexSizeError: Failed to execute 'getImageData'
on 'CanvasRenderingContext2D': The source width is 0.</pre> in line 515 of _heatmap.js_.

I guess this is a size problem so I tried to put width and height of my map element in pixel but the error is still happening.

[2014-07-17 21:14] dh1tw opened #108 "Heatmap.js not working with Firefox 30 anymore"
Hi,
Heatmap.js stopped working with the latest upgrade of Firefox (currently version 30.0), OS Windows, it still works in FF under OSX.

It's easy to reproduce - just go to the project's site (http://www.patrick-wied.at/static/heatmapjs/#) and press "Activate Website Heatmap". Nothing will happen.

Unfortunately, JS console doesn't throw an error. Anyone with an insight into the fine heatmap.js co

[2014-07-22 18:40] b3n01t opened #110 "adBlockPus"
heatmap.js is blacklisted by adBlocks...

https://easylist-downloads.adblockplus.org/easyprivacy+easylist.txt

[2014-07-25 02:42] johnwebbcole opened #111 "useLocalExtrema in 2.0 Beta 1 does not draw anything when set to false"
With 2.0 Beta 1, if you set useLocalExtrema:false, nothing draws, at any zoom level.  Setting it to true draws the heat map ok, and works as expected.

I'm using this with leaflet 0.7.3.

I looked, but couldn't find where useLocalExtrema is being used.

[2014-07-25 20:15] josephzhao opened #112 "heatmap with leaflet 0.7.2"
Hello All:

heatmap.js

line 471

[code]

change to

[code]

 I am using leaflet 0.7.2

function createHeatmap(map) {

  var testData = {
            max: 31,
        data: [{lat: 33.5363, lon: -117.044, value: 1}, {lat: 33.5608, lon: -117.24, value: 1},...]
        };
        var heatmapLayer = L.TileLayer.heatMap({
            radius:  30,
            opacity: 0.8,
            visible: true,

[2014-07-26 10:57] #112 closed, assigned to nobody

[2014-07-28 09:55] #106 closed, assigned to nobody

[2014-07-28 09:57] #103 closed, assigned to nobody

[2014-08-03 20:28] pa7 opened #113 "Article about Data Aggregation Techniques for heatmaps"

[2014-08-03 21:49] pa7 opened #114 "Release heatmap.js v2.0"
- [x] fix reported bugs from beta
- [x] double check whether everything works
- [x] generate builds and create zips from it

[2014-08-03 21:53] pa7 opened #115 "Release heatmap.js v2.0 website"
- [x] Update Download Links
- [x] Add social media stuff
- [x] check copy
- [x] SEO
- [x] Add Maps Examples

Related to #114

[2014-08-03 21:55] pa7 opened #116 "Refactor Contribution Guidelines"

[2014-08-03 22:01] #100 closed, assigned to nobody

[2014-08-03 22:19] #72 closed, assigned to pa7

[2014-08-05 02:24] #115 closed, assigned to pa7

[2014-08-05 03:12] #114 closed, assigned to pa7

[2014-08-05 03:15] #108 closed, assigned to nobody

[2014-08-05 03:19] #104 closed, assigned to nobody

[2014-08-05 03:27] #73 closed, assigned to nobody

[2014-08-05 03:29] #6 closed, assigned to pa7

[2014-08-05 03:31] #37 closed, assigned to nobody

[2014-08-05 03:44] #94 closed, assigned to pa7

[2014-08-05 14:11] pa7 opened #117 "Article about heatmap.js best practices"

[2014-08-05 15:51] dh1tw opened #118 "Values above "max" are ignored in heatmap.js v2"
Hi @pa7,
thanks for releasing heatmap.js v2! I've already started implementing it into my site. I came across a weird issue: heatmap.js v2 seems to ignore data points with values above the set maximum.

Only If I adjust the maximum to the highest value in my list of datapoints, they are recognized and displayed correctly.

Use case:
I want that all all datapoints with a value above 20 are displaye

[2014-08-05 15:57] dh1tw opened #119 "heatmapInstance.setData() ignores "max" value [heatmap.js v2]"
During the update to heatmap.js v2 I noticed that the max value gets ignored or overwritten by the highest value of a datapoint when set through heatmapInstance.setData()

Only setting heatmapInstance.setMaxData() sets explicitly the Max value, used for rendering.

[2014-08-07 11:54] #118 closed, assigned to nobody

[2014-08-07 11:54] #119 closed, assigned to nobody

[2014-08-08 19:25] josephzhao opened #120 "leaflet-heatmap.js"
When I create a heatmap and use onAdd(map) to add heatmap to leaflet map, when I resize map, the heatmap still keep on old size.
![untitled](https://cloud.githubusercontent.com/assets/2696611/3861672/aa1be83e-1f31-11e4-8610-cedbb78295bc.png)

[2014-08-09 09:02] eserss opened #121 "heatmap-2.0 and easyui. No heatmap displayed."
I create test example that use heatmap-2.0 with easyui.
You can see code at:
 "http://jsfiddle.net/esers/s750gdo1/"

The leaflet map appear.
But I cannot see heatmap on it.

When I try zoom. The error appear: IndexSizeError, heatmap.js line 449.

When I try heatmap-2.0 without easyui all working well.

What is wrong?

[2014-08-09 09:16] eserss opened #122 "heatmap-1.0 and easyui"
I create example that uses heatmap-1.0 and easyui.
Link: http://jsfiddle.net/esers/vm445s77/

When I try to start it, I have got the error:

Error: Invalid LatLng object: (NaN, NaN)
throw new Error('Invalid LatLng object: (' + rawLat + ', ' + rawLng + ')');
leaflet-src.js (line 833, column 2)

What is wrong?

The only changes that I have made to example heatmap-leaflet code:
1) heatmapLayer.addDat

[2014-08-09 23:08] #122 closed, assigned to nobody

[2014-08-11 14:33] #120 closed, assigned to pa7

[2014-08-15 07:51] xile611 opened #124 "bug of max in setData"
setData: function(data) {
      var dataPoints = data.data;
      var pointsLen = dataPoints.length;

[code]

It's seems to be a bug,
the  _max won't be the real max value of all data.

[2014-08-25 18:38] hkevin01 opened #127 "Openlayers Heatmap 2.0 support"
Will Heatmap 2.0 have openlayers support? If so how soon?

Thanks

[2014-08-25 23:43] josephzhao opened #128 "dynamic change gradient"

[2014-08-26 01:07] JGaudette opened #129 "Openseadragon"
Any planned development effort for OpenSeaDragon support?  Thanks!

[2014-08-26 04:23] #128 closed, assigned to nobody

[2014-08-26 07:50] dgorissen opened #130 "bug in leaflet-heatmap if layer is not enabled by default"
Say you do not add the heatmap layer to the list of layers on map creation but rather as an optional overlay that is not shown by default.

If you then select the layer in the selection control, onAdd() never gets called which means _heatmap is not initialized and the code fails on line 125 in _update:

`this._heatmap.setData(generatedData);`

The workaround is to add the layer to the layers list

[2014-08-27 09:28] styopdev opened #132 "Heatmap.js error in example"
m try to use heatmap.js library, in example code, browser console get error Uncaught TypeError: Cannot read property 'style' of null on line 362 I didn't touch to example code, but its not working
Thanks for help.
Full Question here
http://stackoverflow.com/questions/25523411/heatmap-js-error-in-example

[2014-08-29 13:24] Dagnan opened #133 "Spots with all values set to 0"
If all values are set to 0, we see spots. I guess we should not.
I don't know how to quick-fix it. Is that possible?

Thanks.

[2014-09-17 20:59] #69 closed, assigned to nobody

[2014-09-28 23:30] damianhodgkiss opened #137 "conflict with prototype.js"
hey guys,

had a conflict with prototype.js extending the native object with methods so when Object.keys was called it returned the method names too.. fixed by patching _prepareData as follows with the hasOwnProperty checks:

[code]

[2014-10-14 08:32] grssnbchr opened #139 "Leaflet-Plugin: useLocalExtrema does not work when data.max === null"
When you set data without specifiying an explicit max value, i.e.:

[code]

then  `useLocalExtrema === false` does not work, local extrema are still displayed.
This is because `HeatmapOverlay._max` is set to 1 in that case and never dynamically recalculated.

The _fix_ would be to inquire the max value from the data themselves whenever a max is not given, in `HeatmapOverlay.setData(data)`. This al

[2014-10-22 17:38] tapiokulmala opened #141 "Clearing all datapoints from leaflet heatmap overlay not possible"
There seems to be no way to clear all datapoints from the leaflet heatmap overlay. The problem is most likely in the _update function of the leaflet heatmap overlay.

if (this._data.length == 0) {
      return;
}

With h337 it's possible but not with heatmap overlay.

[2014-10-24 07:52] andrewboni opened #142 "Uncaught IndexSizeError: Failed to execute 'getImageData' on 'CanvasRenderingContext2D': The source width is 0."
[code]

Has anyone seen this error before? Only happens some of the time- not 100% sure why. I'm generating a heatmap with anywhere from 20 - 100 data points. Thanks!

[2014-10-30 09:52] nizarp opened #143 "Heatmap layer disappears after few continues zoom-in and dragging on the map"
Heatmap layer disappears in the GMAPS plugin when we zoom-in or drag on the map multiple times.

[2014-11-01 00:38] lookuptable opened #145 "Leaflet Heatmap becomes mis-aligned after zooming out"
I found that Leaflet Heatmap becomes mis-aligned after zooming out. The problem can be reproduced on the demo page: http://www.patrick-wied.at/static/heatmapjs/example-heatmap-leaflet.html . Specifically, after zooming out 4 times.
![screen shot 2014-10-31 at 5 34 56 pm](https://cloud.githubusercontent.com/assets/5387584/4870229/6020f858-615f-11e4-8055-fdfa63d06d6e.png)

[2014-11-21 15:13] vanderlee opened #148 "Errors when using multiple heatmaps on leaflet"
There seems to be an issue in the leaflet plugin that causes erros when trying to use more than one HeatmapOverlay.

Below is the trace I get from chrome:

    Uncaught TypeError: undefined is not a function leaflet.js:6
        o.Map.o.Class.extend._layerAdd leaflet.js:6
        o.Map.o.Class.extend.eachLayer leaflet.js:6
        o.Map.o.Class.extend._resetView leaflet.js:6
        o.Map.include.

[2014-12-03 10:33] alexanderjarvis opened #150 "Polylines instead of Points"
I would like to be able to specify polylines as input data instead of points so that I can efficiently generate a heatmap of routes.

Currently I have interpolated points into lines by generating points in-between them but this creates millions of points.

Is it planned to add a line version of heatmap.js? How difficult would it be to add this feature or does it already exist?

(I'm using the leaf

[2014-12-27 02:58] vczero opened #151 "[maybe a bug]in IE9 the point is square"
[maybe a bug]in IE9 the point is square,when i draw a point or open url '
http://www.patrick-wied.at/static/heatmapjs/' and movie the mouse.

[2014-12-27 05:48] mithun35h opened #152 "Aggregation"
Please anyone, share the solution to the below problem

I have 2 geo points x,y their values are 10 and 20 respectively. So when i zoom out x and y combine and form z with the value 30, is this assumption correct? If so, this is total of values of points, how can i get the average?

[2015-01-23 14:12] gnanasekaranl opened #154 "how to store headmap canvas as a image"
how to store headmap canvas as a image in server side
You say like below but i can't,

heatmapInstance.getDataURL(); // data:image/png;base64...
// ready for saving locally or on the server

[2015-01-30 18:31] denislins opened #155 "Upgrading version for bower users"
I just downloaded the library via bower, and I got version 1.0 instead of 2.0. I double checked to see if I was doing something wrong, but I got the same result.

Do you have plans to upgrade the version?

[2015-02-02 14:30] ifreddyrondon opened #157 "gmaps plugins just by weights"
How can I ignore the proximity between points and build the heatmap only with weights?

[2015-02-02 20:15] scarrick68 opened #159 "heatmap coordinates for resizable windows"
I am overlaying the points generated by the heatmap onto another image. The points don't line up properly when the window is resized because the png image moves to stay centered. How can I set the x,y values of the data to be compatible with resizable pages?

[2015-02-19 14:10] hpihkala commented on #145
Is there a workaround for this?

[2015-02-21 21:48] andrewmunsell commented on #142
Also getting the same issue.

[2015-02-22 15:19] hpihkala opened #160 "Setting empty data crashes Safari on iOS and Chrome on Android"
Hi,

If the first setData() call for a heatmap contains an empty data array, Safari on iOS as well as Chrome on Android crash (exit the process). This may be a bug in said browsers or in heatmap.js.

This is annoying in cases where the data is dynamically loaded and cannot be guaranteed to be non-empty.

Here's a jsfiddle that executes fine (not supposed to show anything, just sets empty data) on

[2015-02-22 16:16] hpihkala commented on #141
I hit the same issue. Worked around it by resetting the underlying heatmap directly:

[code]

[2015-02-24 09:33] tremby commented on #143
I see this bug even after zooming in once. Whatever is visible of the heatmap at the new zoom level remains visible, but when panning any new areas of map which are revealed do not have heatmap. Sometimes there are also some glitches when panning. See this screencast from Chrome (warning -- 14MB gif) http://i.imgur.com/MjsGWLL.gif

I see identical behaviour in Firefox.

[2015-02-24 10:32] vanderlee commented on #160
Have you tried applying pull request 138 or 147? Both of these deal with empty setData.

[2015-02-25 08:32] sreuland commented on #145
lookuptable has right idea, either the value coming from layerPointToLatLng() is not accounting right or latLngToContainerPoint() does not convert it correctly, I noticed the parent map pane layer had the correct transform coords at all zoom levels, and since heatmap layer was always being transformed into the same top/left point that map pane was at, you could get by with passing the same values

[2015-03-22 15:59] IvoPereira commented on #132
I'm having this problem too. Does v2 fix this? Isn't it on Bower?

[2015-04-04 13:04] bgp92 commented on #132
Hi there! So this problem is fixed when you use v2. Since I used bower to fetch heatmap it downloaded v1. Please update the bower.
@IvoPereira You should use v2 of it, that will do.

[2015-04-23 23:52] bhilleli opened #165 "configure only seems to affect minOpacity and maxOpacity, blur and radius not affected"
I'm trying to reconfigure entire heatmap's 'settings' after initialization, i.e. to reduce or increase radius 'across entire heatmap' (i.e. not even for individual points, but 'across the entire heatmap', as was possible in v1).

i.e. using this example from the documentation:

var nuConfig = {
  radius: 10,
  maxOpacity: .5,
  minOpacity: 0,
  blur: .75
};
heatmapInstance.configure(nuConfig);

Do

[2015-04-24 01:17] bhilleli commented on #165
I figured - v1 didn't have individual point based radi ('radiuses'?), v2 does, so that might have somethign to do with it... Seems correct.

I ran this from the dev console after insantiating a heatmap w/ radius of 40:
[code]

Lo and behold - radius changed - so I'm guessing something like this has to be added to 'configure'... Not sure about blur yet but TBC... Please let me know if I'm on right

[2015-04-26 02:15] bhilleli commented on #165
Anyone care to confirm this? It just surprises me that I'm the first to report this!

[2015-04-27 01:15] seifer08ms opened #167 "solve the redraw issue after exceeding maxBounds in leaflet plugin"
I found a redraw issue when I set the maxBounds of map and heatmap. If I drag the map to exceed the range of bounds ,the map will jump to its original bounds with no redraw and partly lose the heatmap.

My solution is add ' redraw whenever moveend ' in leaflet-heatmap.js :

//redraw whenever dragend
map.on('dragend',this._draw,this);
+map.on('moveend',this._draw,this);

map.off('dragend',this._dra

[2015-04-27 06:20] seifer08ms opened #168 "What is the good way to quantify the radius"
Is there any algorithm is find the best suitable radius for data ?

[2015-04-27 17:44] newelement commented on #142
+1

[2015-04-27 18:12] andrewboni commented on #142
FWIW, I was able to get around this issue a long time ago. I forget the
exact answer, but I vaguely remember it being around an issue with my data,
not with the library. Everyone who's getting this issue should double check
that your source data is correct / makes sense.

On Mon, Apr 27, 2015 at 10:44 AM, Don Jones <notifications@github.com>
wrote:

[2015-04-28 23:06] mariojunior commented on #129
+1 .. would be nice! Rendering only the points according/filtering the viewport dimension, following the multiscale image concept.

[2015-05-06 19:36] cmnzs commented on #127
Any updates on this?

[2015-05-07 07:26] seifer08ms opened #169 "Is there any parameters to customize decay rate？"
How to control the decay rate or the shape of hot spot?

[2015-05-13 07:22] maixiaohai opened #170 "max height limit"
Do heamap.js limit the height? cause when the height exceed 32767,the map can't show. How could I figure it out?

[2015-05-13 15:17] tapiamcclung commented on #148
I tried your fix but I am not able to put two overlays. Are there any pointers you could share?

It seems, as mentioned, that if I use the same config variable, there are problems. I was able to add two layers but the first layer that was created and added doesn't show up, I can only see the second one. Upon exploring the html elements, I can see that there are two canvas tags but one of them has

[2015-05-19 09:16] srirams6 opened #171 "Slight Lag"
I'm querying an API every 3 seconds and drawing the heatmap based on the data. I'm using `setData` to redraw the map. There seems to be a lag when trying to render the heatmap.

Am I doing something wrong here or is this a performance issue?

[2015-05-19 09:31] roydondsouza commented on #171
Try to extend the interval to 10 seconds. Do you still see a lag in
rendering?

When you say there is a lag, do you mean your screen freezes or is it just
that the time it takes to render the new changes are more than 4 to 5
seconds?
On May 19, 2015 2:46 PM, "Sriram Sundarraj" <notifications@github.com>
wrote:

[2015-05-19 09:38] srirams6 commented on #171
I meant that it took 3 seconds to render the new changes. But it turns out that there was a really silly error in my code. I'm going to blame that on coding on a Monday morning. :hammer:

[2015-05-19 09:38] #171 closed

[2015-06-05 09:06] vlamic commented on #165
I have the same issue :(

[2015-06-10 09:33] faceplant23 opened #172 "IE 11 - no example seems to work"
Dear all,
Tested it on two machines with IE 11 installed: the heatmap appears on only some provided examples at http://www.patrick-wied.at/static/heatmapjs/examples.html - Unfortunately without any JS error, so I have no chance to analyze further. For me the Maps examples are the most interesting, which also do not work anymore in IE 11. On all other browsers and on IE 9 it still works fine.
Thank

[2015-06-10 10:36] pa7 commented on #172
Could you tell me which examples worked for you?

[2015-06-10 11:29] faceplant23 commented on #172
for sure: http://www.patrick-wied.at/static/heatmapjs/example-click-heatmap.html , http://www.patrick-wied.at/static/heatmapjs/example-mousemove-heatmap.html work - the rest unfortunately not in IE11

[2015-06-11 07:44] parnager commented on #143
First, I want to say that this gmaps-heatmap is a great tool, and I want to thank you. I also have those issues and it seams, that there are more Parts of the Problem.
On the one hand, this.map is often undefined, so the draw method doesn't continue (if I just drag the map, in ~80% of the events, this.map is undefined :o), on the other hand if it fires, it doesn't draw the whole layer, especially

[2015-06-11 07:49] tremby commented on #143
I moved to Openlayers3. There's a working heatmap implementation there.

[2015-06-11 13:40] parnager commented on #143
Thanks a lot, took me some time to get it right for me, but now it works and I'm HAPPYYYYYYY :) :+1:

[2015-06-12 15:47] denisbetsi opened #174 "Maybe a silly question but how do I initialize heatmap purely for storage of data without ANY rendering"
Can't seem to figure out how to do this without having to modify your library. I'm sure I'm missing some setting that will let me just use it for recording of events and forego the real time rendering on the page.

[2015-06-15 14:42] pa7 commented on #174
heatmap.js is a data visualization library, it's not designed **just** for storage so I'd recommend not using it to store data. the event recording on the [heatmap.js](http://www.patrick-wied.at/static/heatmapjs/) website is done seperately

[2015-06-15 14:42] #174 closed

[2015-06-17 16:41] denisbetsi commented on #174
Got ya, was confusing because of all the Add data points functionality. So if it was just for display only then I guess it's there just for illustration purposes.

[2015-06-18 22:16] lookuptable commented on #145
Ping.

@pa7 is this issue expected to be fixed?

[2015-06-28 19:00] alek0313 opened #176 "cannot see small values"
use case:
min value=0.0001
max value=100
point value=0.1

- cannot render values smaller than 0.2

any suggestions?

[2015-06-29 11:28] pa7 commented on #176
the library is only able to handle integer point values
=> multiply min, max, and all the point values by 10^4 and it will work

[2015-06-29 14:05] alek0313 commented on #176
Doesn't work with integer values either. Only the last data point renders in the example below.
[code]

[2015-06-29 14:25] pa7 commented on #176
I'll look into it, did you try setting a fixed opacity? that will ensure you won't lose datapoints due to very low alpha values

[2015-06-29 14:30] alek0313 commented on #176
thanks. and yes, im using 0.9 for opacity. the global alpha for canvas seems okay to me, not sure

[2015-06-30 08:28] faceplant23 commented on #172
Hey Patrick,
were you able to find out something or at least were you able to reproduce the problem?
Is there any chance to help? Maybe by donation or something?
Thanks

[2015-06-30 08:35] pa7 commented on #172
sorry I haven't had a chance to test it in IE11 yet, but I'll find the time by the end of this week and let you know about the results

[2015-06-30 09:56] faceplant23 commented on #172
Thank you so much in advance!

[2015-07-08 09:44] pa7 commented on #172
alright, I just checked it on IE11 on a Windows 7 machine and the examples all worked. Anyone else experiencing an issue with IE11 ? @faceplant23 could you give a little more context? are you using any plugins? OS ?

[2015-07-13 20:47] kermitxc commented on #176
seeing the same problem with very large range of min,max

[2015-07-20 23:08] pa7 commented on #155
hey @denislins , this issue just got fixed, sorry for the slight delay

[2015-07-20 23:08] #155 closed

[2015-07-20 23:11] pa7 commented on #154
you could send it to your server via an XMLHttpRequest

[2015-07-20 23:11] #154 closed

[2015-07-21 02:46] denislins commented on #155
No problem, thank you!

[2015-07-21 05:12] roydon-tj commented on #154
@gnanasekaranl follow this link. http://www.re-cycledair.com/html-5-canvas-saving-to-a-file-with-php
If you have any doubts let us know.

[2015-07-21 05:14] roydondsouza commented on #154
@gnanasekaranl follow this link. http://www.re-cycledair.com/html-5-canvas-saving-to-a-file-with-php
If you have any doubts let us know.

[2015-07-27 12:01] faceplant23 commented on #172
Dear Patrick,
sorry, it took a while until I got a machine with a working IE 11 configuration. I then tested nearly all IE settings and finally found (at least on my company computers) the relevant entry: **Internet Options > Advanced > Accelerated grphics > Use software rendering instead of GPU rendering**.
In our default installation this one is unchecked, and at least with the current hardware

[2015-07-27 15:04] pa7 opened #179 "setData and addData differ if you have a minimum != 0"
setData sets the data minimum correctly but addData only updates the maximum therefore the minimum will always stay 0 for a heatmap that has been created with addData.

[2015-07-29 09:53] roydondsouza commented on #102
@pa7 does the new version of heatmap.js solve the issue? or do we still need to mention max separately.

[2015-07-29 10:11] pa7 commented on #102
sorry for the delay

it does not solve this issue because it would make the heatmap generation **very** slow:
- iterate through the whole dataset
- find min & max
- iterate through whole dataset
- render each datapoint

but I still think it would be a great addition to heatmap.js and I'm currently looking into big data processing mechanisms that we could use (and are suitable to use with JavaScrip

[2015-07-29 10:16] roydondsouza commented on #102
Thanks. Yes. That will be a good addition; again an option, because sometimes there is a need to set custom max and consider anything above it as max itself :) I have one more feature idea. Will share it as a separate issue.

[2015-07-29 12:04] roydondsouza commented on #102
Thanks. Yes. That will be a good addition; again it should not be a default behaviour; just an option, because sometimes there is a need to set custom max [and any points above max are considered as max]
I also have one more feature idea, related to custom zoom (drill down). Will share it as a separate issue.

[2015-08-06 13:18] padcoe commented on #176
I'm facing same problem. Any workaround to resolve it?

[2015-08-06 13:22] padcoe commented on #176
I'm facing same problem. Any work around to resolve it?

[2015-08-19 09:13] mastrobardo commented on #142
+1

[2015-08-19 12:00] pa7 commented on #142
Could you isolate an example where you get this error so I can have a look at it? host it on jsbin / plnkr / codepen / your site, post a link,  and I will have a look at it

[2015-08-19 14:12] mastrobardo commented on #142
I'll try later on, sadly the project is a company project and i can't link it here!

Thx

[2015-08-19 16:24] roydondsouza commented on #142
Davide,

Create a similar example like Patrick suggested where we could check the
issue.

This way we could debug the code and see what's wrong.
On Aug 19, 2015 7:42 PM, "davide" <notifications@github.com> wrote:

[2015-08-31 12:33] obab30 opened #182 "Issue "InvalidStateError" in Firefox Browser"
Hi!

I'm using Heatmap.js and it's Leaflet plugin. I really love your work! Unfortunately I am getting an error when I zoom out: "InvalidStateError: An attempt was made to use an object that is not, or is no longer, usable".
This error happens only in Firefox web browser. In chrome it's working flawlessly. I am using your sample app.
Here is the code of this app:

[code]

The error points to this

[2015-09-01 13:02] kannanrbk commented on #176
@pa7  I am facing the same problem.

[2015-09-09 01:41] dyh333 opened #183 "how to add local data to heatmaplayer"
how can I add local data to heatmap layer by json fomat with arcgis api, but not from features?

[2015-09-10 03:32] dakbias commented on #142
Has anybody has a solution for this problem. It happens sometime here too. Thanks

[2015-09-13 20:57] pa7 commented on #142
Again, I'd probably be able to help you if you could create an example where this problem occurs and send me a link to have a look at it.

[2015-09-17 14:51] pa7 commented on #170
Hi there,
unfortunately heatmap.js **currently** follows the [canvas size restrictions](http://stackoverflow.com/questions/6081483/maximum-size-of-a-canvas-element).

However I plan to change the renderer to a tile-based approach which will solve this problem and there won't be any size restrictions anymore

[2015-09-17 14:51] #170 closed

[2015-09-17 14:57] pa7 commented on #152
heatmap.js will not aggregate the data for you, heatmap.js will only visualize the data you feed it. So your assumption is incorrect. If the datapoints overlap they behave like the typical "multiply" effect in photoshop, so it will be averaged visually

[2015-09-17 14:57] #152 closed

[2015-09-21 12:17] ashah-kaira opened #185 "Can I use heatmap.js without license"
Hi there,

Can I use heatmap.js without license.

There is not much written about license policy on the heatmap site. There is option for Free and Support package only. What kind of support it is? Can I use heatmap.js and publish this in any of my site without license?

Please let me know.

[2015-09-21 14:24] pa7 commented on #185
As long as you **keep the copyright notice in the heatmap.js code (!)** you can use it on your site for free.

Apologies if the site is not clear about the license terms, I will change that soon!
If you need help with integrating heatmap.js or would like to implement custom functionality for a specific usecase the support package would grant you direct support from me for a month

[2015-09-21 14:24] #185 closed

[2015-09-22 22:38] yee379 opened #186 "Interpolated values between points are additive rather than averaged"
i'm using h337 to visually display the temperature of our datacenter. so i have a bunch of cheapo sensors reporting temperatures scattered around our racks. when i plot the data, i notice that the points in-between the sensors appear to be additive in value: eg if two neighbouring sensors are say reporting 15C, then the area in between the two sensors (the distance between points is approximately

[2015-09-23 22:51] pa7 commented on #186
Are you using the latest version of heatmap.js? (v2)

[2015-09-24 00:21] yee379 commented on #186
heatmap.js v2.0.0 according to the (minified) js file.

[2015-09-24 16:45] morganzysman opened #187 "getValueAt only in "hot" zone"
Hello,

I have implemented a heatmap using your lib. First of all great work.
I have a question, i'm using getValueAt to be able to display the heat of a specific spot.
I get the value without a problem, but the further I go in the "blur" zone the lower the heat gets (logical).

I want to keep displaying this blur, but I don't want to display the "Tooltip" when exiting the hottest zone OF EACH poi

[2015-10-05 21:02] bk5115545 commented on #182
I have this same issue although it only happens when I have more than 10000 data points (which shouldn't be a problem).

I also get it in chrome though so our issues might be unrelated.

[2015-10-05 21:04] bk5115545 commented on #186
Same issue although for a much more complex project.

[2015-10-06 19:48] bk5115545 commented on #182
I've been looking into this for about half an hour now and I've been able to narrow down why an IllegalStateError is being thrown.
[code]
In the above code, the exception is supposed to be thrown if "tpl" is ever null or undefined.  In my project, a null "tpl" is used when rectX is -333.093344 and rectY is -193.093344.  In all of my other projects, I have never had negative rectXs or rectYs.  It m

[2015-10-09 09:57] mmontes11 commented on #96
Hei,

Is it possible to have multiple heatmapjs layers in the same leaflet map with different styles?
I guess no

[2015-10-12 07:44] obab30 commented on #182
Hey @bk5115545,
did you manage to get a workaround to avoid this error? In my case Firefox crashes if will reach a datapoint where tpl = "<canvas height="0" width="0">". That probably means canvas == null.  This happens in my case when rectX = 505.808, rectY = 276.808. Chrome does not crash at this point, it contiues with canvas == null until the last point.

[2015-10-12 07:55] bk5115545 commented on #182
I've tracked the issue to be running out of memory actually.  The piece of code I linked caches the blur map for a specific radius, which for my code is rather inconvenient since I have almost 15k unique radii that need to have very correct decimal precision.

If you can decrease the memory usage, then "tpl" should always be valid (provided something else isn't the issue).  I use a development sys

[2015-10-12 08:09] obab30 commented on #182
Thanks for your quick response. I think we have different problems. I just found out what my problem is. Because of my cfg some of my radius-values gets extremly small (0.193 for example). The _getPointTemplate function creates a tmpCanvas and sets its height and width to 2*radius. So in my case its sets the width and height of the canves to 0.386 and since the html canvas can only take int values

[2015-10-12 16:30] merkylove commented on #148
I faced a problem trying to plot multiple heatmaps: only first heatmapoverlay passed to layers parameter is displayed.

This is the problematic part of code:
[code]

I don't know exactly if it is my mistake or something's wrong under the hood so I will be very happy to hear any ideas.

Thanks for attention.

[2015-10-12 21:14] boysmovie opened #188 "heat cutsoff when Map window resized"
I am using heatmap.js for plotting heatmaps on leaflet.js. I am able to render it beautifully. However lets say the initial window/div size is 400x400. Then I resize the window and the div becomes 600x600, the heatmap layer is still sized at 400x400 and cuts-off. When you move the map, you can see the chopped 400x400 area of heatmap.

Anyway to resize or reset the size?

[2015-10-15 01:23] tdub7229 commented on #143
I was experiencing the same problems that this issue raises.  For what it's worth,  I made the following changes to gmaps-heatmap.js and it works a lot better for me.  No guarantee that it doesn't break something else.

[code]

[2015-10-15 01:32] tremby commented on #143
If that fixes it, you should maybe submit a pull request.

[2015-10-20 06:57] radutoev opened #190 "Heatmap rendering"
Hello,

I've just started using heatmap, so I can't say that I'm familiar with it.
My use case is that I want to create a heatmap for points within a circle.

So I added the circle as svg, added a div with points for values that I have and div with the actual heatmap. All html containers are stacked on top of each other and have the same size.

The coloring of value points follows this logic:
[cod

[2015-10-27 12:52] TanyaU opened #191 "issue when the canvas coordinate origin changing"
I have transferred the canvas coordinate origin like this:
    this.shadowCtx.translate(0, shadowCanvas.height);
    this.shadowCtx.scale(1, -1);

    this.ctx.translate(0, canvas.height);
    this.ctx.scale(1, -1);

Then I show heatmap data sets in a loop. However it shows several data sets cut on the top part of canvas.
It works well if the canvas coordinate origin is not transferred.

Can you p

[2015-10-31 06:47] buremba opened #193 "Require h337 in Leaflet plugin"
Leaflet plugin uses global `h337` object instead of AMD module. When Heatmap is installed with RequireJS, it won't be in global scope so the Leaflet plugin will throw a ReferenceError.

https://github.com/pa7/heatmap.js/blob/master/plugins/leaflet-heatmap.js#L55

[2015-11-19 14:22] gotsunami opened #194 "Memory error using Firefox and Chrome on Windows"
Hello pa7,

I left a note here:
https://github.com/pa7/heatmap.js/commit/11edfedbe688cafd5e42c695a350e193b8fd81c6

The 'memory error' occurs only on Windows versions of these browsers. I guess this is a kind of invalid memory address that neither the browser nor the OS catch.

I commented
[code]
 in `_update` and it works. I do not get the point of this addition by the way.

Best regards,
Anthony

[2015-11-27 18:39] coolblades commented on #188
This was fixed by https://github.com/pa7/heatmap.js/pull/126 but the code is not in the master or develop; not sure why. I merged into the base and it works. But I have problem where if your map setting is that user can wrap around the world, then the heapmap is "stuck" in the "page.

[2015-11-28 02:52] pa7 commented on #187
Apologies for the late answer.

The current implementation of getValueAt interpolates the values (by reading from the renderer)- that is not optimal and I hope to change that soon.

In order to solve your problem you could have a whitelist of all your values and and only show the tooltip if the value is part of the whitelist

[2015-11-28 02:52] #187 closed

[2015-11-28 03:26] pa7 commented on #172
Thanks a lot, I'm sure this will be helpful to others

[2015-11-28 03:26] #172 closed

[2015-11-28 03:29] pa7 commented on #169
Right now there is only the radial hot spot shape (due to radial gradients that are used for rendering), decay can be customized with the blur configuration property

[2015-11-28 03:29] #169 closed

[2015-11-28 03:52] pa7 commented on #165
@bhilleli to answer your question: it performs better and makes the rendering easier. The blur configuration property is not supported in v1. I'd recommend using v2, it's faster and more configurable :) If you need help to migrate I wrote a doc about it: https://github.com/pa7/heatmap.js/blob/master/docs/how-to-migrate.md

[2015-11-28 03:52] #165 closed

[2015-11-28 03:58] pa7 commented on #159
For the static case you could export the heatmap with `heatmapInstance.getDataURL()` and either create a new - resizable - image from the dataURL, or set it as a a background of a resizable div.

[2015-11-28 03:58] #159 closed

[2015-11-28 04:00] pa7 commented on #151
Could not reproduce that bug, was it with heatmap.js v2 or v1? Reopen if it is still present (or someone else can confirm)

[2015-11-28 04:00] #151 closed

[2015-11-28 04:09] pa7 commented on #150
Apologies for the late reply!  That's an interesting use case. Right now it's not really planned but it could be added as a plugin, here is how I'd do it:
- create a plugin w/ store & renderer
- the renderer would have to handle datapoints with x, y, dx, dy
- draw lines with alpha gradient (or if that turns out to be tricky draw the gradients with shadowBlur)
- colorize (just like in the core rend

[2015-11-28 04:09] #150 closed

[2015-11-28 04:11] #148 closed

[2015-11-28 04:14] pa7 commented on #142
I will introduce a few boundary checks to prevent the `canvas`s from getting to this state. please reopen and add a URL to test if this is still present

[2015-11-28 04:14] #142 closed

[2015-11-28 04:26] pa7 commented on #194
Hey @gotsunami ,
Thank you for reporting!
What does the memory error say? Also, is it for both, the leaflet and the gmaps plugin?

[2015-11-28 04:28] #121 closed

[2015-11-28 04:33] #102 closed

[2015-11-28 04:35] #86 closed

[2015-11-28 04:36] #83 closed

[2015-11-28 04:37] #60 closed

[2015-11-28 04:38] #132 closed

[2015-11-28 04:39] #14 closed

[2015-11-28 04:40] #54 closed

[2015-11-28 04:42] #28 closed

[2015-11-28 04:44] pa7 commented on #34
heatmap.js 2.0.0 now has an example for that
http://www.patrick-wied.at/static/heatmapjs/example-legend-tooltip.html

[2015-11-28 04:44] #34 closed

[2015-11-30 16:37] coolblades opened #195 "when a map is allowed to wrap around the world, the heatmap is not rendered"
In the example http://www.patrick-wied.at/static/heatmapjs/example-heatmap-leaflet.html
if you keep on moving the map to the right or left so that you get the United States again, then you don't see the heapmap.

[2015-11-30 17:38] Enzo90910 commented on #137
Just used your patch to work around prototype.js
Thanks Damian

[2015-11-30 17:52] coolblades commented on #195
never mind the map library I am using (leaflet) has worldCopyJump flag to copy the marks and what not to the repeated map tiles.

[2015-11-30 17:52] #195 closed

[2015-12-03 03:53] icarusion opened #197 "Hot to calculate the MaxValue?"
I am doing a map heatmap based on heatmap.js,I have 2000 points,and the value is 1 to 40 ,1 is most.Hot to calculate a sensible MaxValue,beause,when I set 100,it looks terrible.

[2015-12-08 14:56] gotsunami commented on #194
Hello pa7,

We did not test the gmap plugin. I cannot tell you right now what the message was, I do not use Windows, the error was reported by a client. I think the browser simply said "Memory error" without being anymore specific.

Sorry I cannot help you any further :(

[2015-12-16 11:17] piggyslasher opened #199 "Would it be possible to create heatmaps with just the latitude and longtitude?"
Where the weight value is calculated by heatmap.js?

[2015-12-21 09:03] bokuweb opened #200 "Can I use heatmap.js with import."
Can I use heatmap.js with import on babel.
For example.

[code]

[2015-12-21 16:08] pa7 commented on #200
as heatmap.js is supporting amd/umd/commons/node modules this should be possible according to
http://www.2ality.com/2015/12/babel-commonjs.html

could you double check that and let me know?

[2015-12-21 17:22] #57 closed

[2015-12-21 23:42] pa7 commented on #145
This has been added, I will tag a new version this week which will contain the updated leaflet version

[2015-12-21 23:42] #145 closed

[2015-12-22 01:19] pa7 commented on #200
Please reopen if it's not working

[2015-12-22 01:23] pa7 commented on #199
Hey @piggyslasher
right now it's not possible, I left the initial extrema calculation out of heatmap.js to speed it up. If you want to do it anyways you could add an additional data layer that calculates the extremas and then passes it to heatmap.js

[2015-12-22 01:23] #199 closed

[2015-12-22 01:27] pa7 commented on #197
why don't you set it to 40? Please provide an example on `codepen` or any other code sharing plattform so we can have a closer look at it

[2015-12-22 01:27] #197 closed

[2015-12-22 01:31] pa7 commented on #194
Please reopen if there is more evidence for that problem

[2015-12-22 01:31] #194 closed

[2015-12-22 01:45] pa7 commented on #193
Fixed in https://github.com/pa7/heatmap.js/commit/aba079a068dbef7185da2a37649d61bc542c394c could you double check?

[2015-12-22 01:45] #193 closed

[2015-12-22 01:51] pa7 commented on #190
Hey @radutoev
if your max is 1, and your min is 0 it means all your datapoints are the maximum (heatmap.js doesn't support decimal values - if you want to visualize decimal value precision I'd recommend multiplying your values with 10^n to get rid of the comma. Please reopen if that doesn't solve your issue

[2015-12-22 01:51] #190 closed

[2015-12-22 02:29] pa7 commented on #188
Fixed with https://github.com/pa7/heatmap.js/commit/1c47578cedca5a3037ebcdc2777fab005101ec0b will be in the next tagged version

[2015-12-22 02:29] #188 closed

[2015-12-22 02:59] bokuweb commented on #200
thunks.
I use  bellow with "babelify": "6.4.0".

[code]

[code]

But, error occured.
[code]

[2015-12-22 21:45] pa7 commented on #130
Fixed and will be part of the next tagged version :)

[2015-12-22 21:45] #130 closed

[2015-12-22 22:23] bokuweb commented on #200
It works if the following

[code]

[code]

Babel add automatically `use strict`.
This has caused the error ?

[2015-12-22 22:33] pa7 commented on #176
Fixed with https://github.com/pa7/heatmap.js/commit/faa6d1b575c2afca3e2e454cc6ac1cd14fa1dcd4 . this will be part of the next tagged version. Thank you for reporting it

[2015-12-22 22:33] #176 closed

[2015-12-23 08:37] pa7 commented on #160
Fixed and will be part of the next tagged version. Thank you for reporting

[2015-12-23 08:37] #160 closed

[2015-12-27 23:12] snegostup opened #201 "How not to change 'max' when adding point with addData?"
I set 'max' and initial data with ```heatmap.setData({ max: 6,  data: heatmapData });```
but when I add datapoints with ```heatmap.addData(..)``` the 'max' value automatically changes, so I didn't found any better then call ```heatmap.setDataMax(6);``` after each ```addData()```.
Is it possible set 'max' once for all and not change it with ```addData()```?

[2016-01-29 21:41] bk5115545 commented on #186
Is this fixed by pull request #90?

[2016-02-10 22:41] hgascoigne commented on #200
I'm currently using

```import HeatmapJS from 'heatmap.js/heatmap.js'```

in an ES6/Babel project without any issue.

[2016-02-10 23:13] bokuweb commented on #200
thunks

I'll try it!!

[2016-02-14 02:31] pa7 commented on #200
@hgascoigne thanks for weighing in. @bokuweb does it work for you?

[2016-02-23 14:32] rayeaster opened #202 "does heatmap.js have a callback after painting is done?"
sometime it is useful to start a "loading" animation and stop it when the heatmap painting is done. so a callback would definitely help in this scenario

[2016-02-24 22:14] cartond commented on #183
Have you tried using [JSON.parse? ](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/parse)

[2016-02-24 22:16] cartond commented on #60
I think @NoahCarnahan meant:
`opacity:.40`

[2016-02-25 01:20] pa7 commented on #60
@cartond you're right, thank you for clarifying

[2016-02-25 04:05] rayeaster commented on #202
@pa7

[2016-02-25 04:39] rayeaster commented on #202
well, I guess "onExtremaChange" could be used , no problem now

[2016-02-25 04:39] #202 closed

[2016-03-02 22:57] bokuweb commented on #200
@pa7 it work!!! thank you!!

[2016-03-03 00:19] #200 closed

[2016-03-07 14:17] tewen opened #203 "drawLabeledPoints"
@pa7 I know there was an older implementation of h337 that supported drawing labeled points over the map. The method I had used to do this was drawLabeledPoints.

Is there a preferred method to approach this at present, or is it not supported yet?

[2016-03-09 14:08] carolinux commented on #16
maybe I am interested in implementing that, as soon as I understand better how the code works.

[2016-03-11 04:41] pa7 commented on #203
hey @tewen I think heatmap.js never had a `drawLabeledPoints` as far as I remember and there are no plans of supporting it in the future. However this could be easily achieved by having an extra layer on top of the heatmap canvas containing all the labels

[2016-03-13 13:45] tewen commented on #203
@pa7 that would be tremendous.

[2016-03-14 14:27] MadStyleCow commented on #186
Any updates on this?

[2016-03-17 11:57] dgorissen commented on #96
@pa7 is your answer still correct? Im finding that with the leaflet plugin even just creating a second HeatmapOverlay instance  the first one (which is shown properly just disappears):

`    var cfg = {
      radius: 35,
      maxOpacity: .9,
      scaleRadius: false,
      useLocalExtrema: false,
      latField: 'lat',
      lngField: 'lon',
      valueField: 'kurt'
    };

    var heatmapLayer =

[2016-03-17 15:25] mmontes11 commented on #96
I have the same problem @dgorissen

The library is awesome but I miss that functionality @pa7

[2016-03-17 15:36] mmontes11 commented on #168
It would be very nice to have a dynamic radius proportional to the amount of data provided

[2016-03-17 17:47] pa7 commented on #96
@dgorissen that's interesting. have you tried creating an overlay, then adding it, then creating the second overlay and adding it?
Another thing: try creating a copy of the config object and pass it to the overlay, it's very likely to be a referencing issue (because I do set a container attribute at the config obj which will be overwritten if you use the same object). That's a problem that has to

[2016-03-17 18:36] pa7 commented on #168
well you could find a formula that introduces that, set a radius for all the datapoints and feed it into heatmap.js.  I'm not a fan of adding it to the library because it introduces additional complexity

[2016-03-17 18:38] mmontes11 commented on #168
Yep, we can do it by out own.

By the way, I'm very proud of yourlibrary and I used in several profesional and personal projects

[2016-03-18 10:36] dgorissen commented on #96
@pa7 thanks for the response.

Interestingly using a separate config object indeed prevents the first heatmap from breaking and it seems to show normally.

I can never get the second one to show though, regardless of the order I create / add them. As soon as the second one is created it breaks the first.

I would hope its a small referencing related fix, it really would be useful to be able to hav

[2016-03-18 11:14] dgorissen opened #205 "Scale radius too large at high zoom"
Just a minor suggestion.

My application requires I operate at very high (maximum) map zoom levels (using leaflet plugin).

Thing is that if I set scale Radius to true the `scale = Math.pow(2, zoom);` line in the code causes the scale factor to explode, leading to a massive radius. And depending your data it may appear that the heatmap is not showing at all. Thats not the case, you just have to zo

[2016-03-25 07:22] FunctionRun opened #206 "configure radius change does't work"
When I use  heatmapInstance   configure method to change radius ,for example:
 var newConfig = {
        radius: Math.random() * 20
}
heatmapInstance.configure(nuConfig);

that does't  work . I see the code and find  radius changed  but  store._radi not change

[2016-03-25 07:24] smalltwo commented on #206
i have the same question too, is there a good solution?

[2016-03-29 17:00] dgorissen commented on #96
@pa7 any pointers on how to potentially fix/hack around this?

[2016-03-31 22:53] juliojgarciaperez commented on #186
Showing average instead of sum would be great for our project too. Measuring temperature, time, quality... needs average. Thanks

[2016-04-07 10:19] pa7 commented on #186
Hey @juliojgarciaperez & @MadStyleCow , just wanted to let you know that I'm working on resolving that issue.
I tried a few approaches over the last weeks, one of them was the technique used in the mentioned PR #90 . I'm still evaluating what would be the best thing to do as all the approaches come with a ~10x performance decrease so far. Performance was one of my top priorities with heatmap.js, s

[2016-04-08 11:04] Molunerfinn commented on #206
You can't change the radius by the method `.configure()` but you can do it by using` .setData()`.
For example:
[code]
Then you can change the radius.

[2016-04-08 19:57] juliojgarciaperez commented on #186
Thanks @pa7, I appreciate it

[2016-04-11 20:52] krzysztofantczak commented on #188
This issue still exists.

[2016-04-19 13:37] StefanDimov commented on #71
+1

[2016-04-22 17:17] geraldstanje opened #207 "Question"
Hi,

I would like to plot a heatmap (on google maps) from an area which i would like to split into a grid (e.g. 100x100 meters). is that possible and how? can you plot 200k points on your map in the following example? https://github.com/pa7/heatmap.js/blob/master/examples/googlemaps-heatmap/index.html

Is there a way to plot the heatmap on google maps using webgl?

Thanks

[2016-05-04 17:35] cedricve commented on #110
An update on this?

[2016-05-04 23:01] pa7 commented on #110
there are a few ways to fix that, the easiest is to just rename the heatmap.js file :)

[2016-05-16 01:56] rhys-vdw opened #208 "`package.json` specifies incorrect `main` file."
The build file is at `build/heatmap.min.js`, but `package.json` specifies `heatman.min.js`. This breaks when using `npm link` or local include.

I assume this is correct for actual published releases, but it should be possible to specify this github repo as a dependency. Now I need to change the value in my fork/local copy, which is a bit awkward for pushing these changes upstream.

I'd also sugge

[2016-05-16 02:00] rhys-vdw opened #209 "Calling `Heatmap#configure` does not update the `Store`."
I wanted to call `configure()` to change `radius` when the element resizes. This is not currently supported (despite `Renderer` being reconfigured).

[2016-05-24 00:32] rookieacg opened #211 "what is the max in setDataSet mean?"
the same data in setDataSet,but with the diffirent max,what will the heatmap like?

[2016-05-24 23:22] pa7 commented on #211
obviously different

[2016-05-25 18:15] #211 closed

[2016-06-09 13:17] ruman2693 commented on #132
Guys I am getting error "Unable to get property 'create' of undefined or null reference" on  this._heatmap = h337.create(this.cfg); in leaflet-heatmap.js file can anybody help????

[2016-06-09 13:26] ruman2693 opened #212 "HeatMap error: "Unable to get property 'create' of undefined or null reference" on h337.create"
I am trying to create heatmap as on "https://www.patrick-wied.at/static/heatmapjs/example-heatmap-leaflet.html"
bt getting error on line number 56 of leaflet-heatmap.js i.e "this._heatmap = h337.create(this.cfg);" as "Unable to get property 'create' of undefined or null reference"
Can anybody tell why am I getting this???

[2016-06-20 10:39] vipyoshi opened #213 "Leaflet-Plugin: LatLng does only work with flat data"
I ran into the problem, that I cant use my data with the plugin. The config object provides a field for "latField" and "lngField", however these are access via `entry[latField]` in the plugin code.

My data looks like the following:
`[{
    temp: 30,
    geoPos: { latitude: 50, longitude: 20 }
}]`
Access the value will not work since `entry['geoPos.latitude']` cannot be resolved.

Would be great,

[2016-06-22 18:20] ojaybock23 commented on #212
I am having the same problem. Any advice is appreciated!

[2016-07-08 18:48] luisOscarMendoza commented on #96
@pa7 , @dgorissen , @mmontes11, @Robinfr ,
Hi, I had the exact same problem and after a lot of R&D I was able to create multiple heatmap layers with different styles and one above another.
My approach is this:

1. I created and array of styles based on the ammount of heatmaps I want to create
1.1. Each "conf" element has the specific style that I want for each heatmap
2. Then I create the heatmaps

[2016-07-14 19:06] ckapop opened #214 "animate transition on setData"
Is this possible now?

I'm looking to "morph" to a new dataset with an opacity transition.

[2016-07-14 23:28] pa7 commented on #214
heatmap.js doesn't support that natively but if you morph your dataset and call setData a couple of times it will render it appropriately

[2016-07-14 23:28] #214 closed

[2016-07-19 08:28] tnusraddinov opened #215 "creating HeatmapOverlay in angular controller returns undefined"
Hi thank you for good library.
When creating HeatmapOverlay in angular controller returns undefined
`map = new google.maps.Map(document.getElementById("map"), myOptions);

                // heatmap layer
                heatmap = new HeatmapOverlay(map,
                    {
                        "radius": 20,
                        "maxOpacity": 1,
                        //            "scale

[2016-07-20 23:16] cpunekar opened #216 "Uncaught ReferenceError: HeatMapOverlay is not defined"
Hi,

I am trying to use this library but getting the above error. I have included both the .js files in my code:
require('../../node_modules/heatmap.js/heatmap.js');
require('../../node_modules/heatmap.js/plugins/leaflet-heatmap.js');

I am adding the leaflet library in my html.

I tried changing the call from var heatmapLayer = new **HeatmapOverlay**(cfg);
to var heatmapLayer = new **HeatMapOverl

[2016-07-20 23:32] cpunekar commented on #186
@pa7 @juliojgarciaperez was this issue resolved?

[2016-08-03 15:43] pa7 commented on #213
I'm sorry, data processing will be necessary w/ the default leaflet plugin implementation as the data schema heatmap.js won't change. Too much flexibility would confuse people who just started. BUT you could adapt the heatmap-leaflet plugin so it works for your specific data format

[2016-08-03 15:43] #213 closed

[2016-08-14 02:27] seifer08ms opened #217 "Mask support for heatmap layer"
Will heatmap.js have a mask support?

Thanks

[2016-08-15 01:06] pa7 commented on #217
could you elaborate a bit? do you mean the leaflet layer? any of the maps layers? or the heatmap core library? also what kind of mask support are you looking for? (applying a svg mask onto the exported image could already work)

[2016-08-18 02:05] seifer08ms commented on #217
We want to dynamically hide parts of heat layer by a leaflet polygon mask. For example, we define a ROI with a polygon layer , leaflet will only show parts of heatmap within ROI. If we edit shape of ROI, the leaflet will update the heatmap layer with the mask.

[2016-08-19 09:24] arjun-ajith commented on #215
Hey. Ran into same error right now. Have you solved this error?

[2016-08-30 06:18] StefanG96 commented on #216
Were you ever able to fix this? I'm getting the same error, and I have included both .js files also. Cannot fix this for the life of me!

[2016-08-30 06:41] cpunekar commented on #216
@StefanG96 nope,I tried many things but it didn't work. You can try leaflet-heat.js, it worked for me.

[2016-08-30 13:59] StefanG96 opened #218 "Uncaught ReferenceError: Google / HeatmapOverlay is not defined"
Hi Guys,

I'm getting the above two errors, the first being within the 'gmaps-heatmap.js' file, and the second being when i create a heatmap overlay instance.

I've been able to get a map to display, just not the heatmap overlay, which i'm guessing the above two errors are preventing it from doing so.

I've imported the scripts as shown, right at the end of the body, before the closing `<body>` ta

[2016-08-30 19:28] pa7 commented on #218
Hey @StefanG96 ,
currently the plugins need a bit of refactoring: heatmap.js is not loaded properly in the plugins (due to a change to support AMD/UMD/CommonJS) I hope I can fix that the next few days. Sorry about the inconvenience

[2016-08-31 10:54] tnusraddinov commented on #215
I found this in heatmaps demo folder. This solves my problem

`// this is important, because if you set the data set too early, the latlng/pixel projection doesn't work`

`	google.maps.event.addListenerOnce(map, "idle", function(){
		heatmap.setDataSet(testData);
	});`

[2016-08-31 10:54] #215 closed

[2016-08-31 12:35] mteichtahl commented on #218
This seems to be caused by

 69: var h337 = typeof require !== 'undefined' ? require('heatmap.js') : window.h337;

in gmaps-heatmap.js

[2016-08-31 12:41] StefanG96 commented on #218
the line that is giving me the error in gmaps-heatmap.js is line 27:

 HeatmapOverlay.prototype = new google.maps.OverlayView();

[2016-08-31 13:19] mteichtahl commented on #218
Is there a need to require heat map from within a plugin that can't exist without heatmap.js ?

So. What I'm seeing is a cannot require module heatmap.js because it's looking in the plugin directory rather than one up.

[2016-09-01 18:24] santoscharlie opened #219 "Cannot assign to read only property 'data' of object"
When using heatmap.js on certain browsers, this error `Cannot assign to read only property 'data' of object` shows up.
![screen shot 2016-09-01 at 11 18 47 am](https://cloud.githubusercontent.com/assets/5798444/18179127/edf3c41c-7035-11e6-9fd4-01d48030ab29.png)

I'm able to reproduce on chromium that is packaged with electron version 1.3.3.

This seems to happen because the `data` property of `Ima

[2016-09-03 15:03] pa7 commented on #218
@StefanG96 I had a look at your error, this is due to gmaps being loaded asyncronously. The gmaps-heatmap.js plugin needs a gmaps reference to initialize itself. Without `defer async` it works properly. If you really need it to be async you could inject `gmaps-heatmap.js` when gmaps has been loaded, and once gmaps-heatmap.js has been executed initialize your map

[2016-09-06 03:57] StefanG96 commented on #218
That fixed it, thanks heaps!

[2016-09-06 10:46] #218 closed

[2016-09-06 14:41] tschallacka opened #221 "great render lag when doing full page rendering"
I have a page of 1600x1900 pixels, and rendering a heatmap on it is a pain, becuase it's one frame per 5 seconds and it's unresponsive as hell.

I used this as a solution, to prevent the re-rendering.
Maybe an idea to make it part of the core for static display
This uses jquery because i'm lazy :P

[code]

[2016-09-06 16:21] pa7 commented on #221
hey @tschallacka , thanks for opening an issue. I'm aware of it and am currently developing a few techniques to fix that, which eventually will go into the core renderer:

- tiled rendering (only render small chunks)
- asyncronous rendering (right now heatmap.js is rendering syncronously and blocks the page til it's done, this will change)

[2016-09-06 18:08] pa7 commented on #221
@tschallacka also: another way to fix your issue should be to just call setData in a setTimeout:
[code]

[2016-09-08 14:21] baizn opened #222 "Multiple clicks to load the data , the IE11 browser will get stuck"
Only in the win7， Multiple clicks to load the data , the IE11 browser will get stuck。because have many many data，so Thus execution ```_drawAlpha``` function, IE 11 will get stuck.
![image](https://cloud.githubusercontent.com/assets/9443867/18352817/75ee2902-7612-11e6-9ed4-d2f59b0a6f90.png)

[2016-09-08 18:12] pa7 commented on #222
have your tried what I recommended in  #221  ?
wrapping your setData call in a setTimeout

[2016-09-09 07:17] baizn commented on #222
wrapping mysetData call in a setTimeout,it works find, thank you very much !

[2016-09-09 13:54] pa7 commented on #222
@baizn heatmap.js currently renders syncronously. syncronous rendering blocks the main execution thread (and prevents user interactions) until it's done. setTimeout moves the rendering  to the event queue (which does not block) -> happy interactive page :)

I'm currently working on getting asyncronous rendering into the heatmap.js core so you don't have to care about that anymore, it will be part

[2016-09-09 13:54] #222 closed

[2016-09-09 17:48] wodCZ opened #223 "Interpolated values between points are additive rather than averaged"
This is a bump to #186, which I can't, for any reason, comment in. Sorry for messing your issues with this.

Do you know about an workaround on that issue? I need areas with lower values to be average instead of added, even with decreased performance.

I have had a look at pull #90, but can't reproduce the changes on current codebase.

cc @juliojgarciaperez - did you solve this problem, please? I

[2016-09-10 15:01] pa7 commented on #223
@wodCZ WIP: https://github.com/pa7/heatmap.js/tree/bugfix/data-interpolation
however #90 wouldn't average the datapoints, it merely limits the interpolation maximum so the additive effect does not exceed the datapoint values. still thinking about how to solve that properly

[2016-09-12 08:07] baizn commented on #222
Thank you！ In addition, I think there is a certain relationship between the use of too many closures，do you think？

[2016-09-15 13:10] RenukaMP opened #224 "Heatmap is not working inside of uib-tabset in angularjs"
`<uib-tabset class="tabbable border">
	<uib-tab ng-repeat="floor in floorPlans" heading="{{floor.floor_name}}" select="heatmap()" >
		<div class="row">
			<div class="col-md-12">
			<img class="img-responsive center-image" ng-src="{{floor.file}}" alt="{{floor.floor_name}}"></img>
			<heat-map data="passed_data"></heat-map>
			</div>
		</div>
	</uib-tab>
</uib-tabset>`

[2016-09-15 14:53] pa7 commented on #224
I'd appreciate a bit more context :)
- is there an error in the `console` ?
- does passed_data actually contain data? (maybe it's a scope issue)
- are you using the official angularjs heatmap plugin that is published in this repository?

[2016-09-16 04:56] RenukaMP commented on #224
There is no error in console.
Yes im using official angularjs heatmap plugin get from this repo.

[2016-09-16 11:51] RenukaMP commented on #224
@pa7
And also i need a help to how to add background image as dynamic.

Thanks.

[2016-09-16 22:50] pa7 commented on #224
does `passed_data` actually pass down data?

[2016-09-17 05:24] RenukaMP commented on #224
i didn't get any response for passed_data.
The below response is actually i got it for your reference

<heat-map data="passed_data" class="ng-isolate-scope"><div container="" style="position: relative;"><canvas class="heatmap-canvas" width="0" height="0" style="position: absolute; left: 0px; top: 0px;"></canvas></div></heat-map>

[2016-09-17 05:24] RenukaMP commented on #224
<heat-map data="passed_data" class="ng-isolate-scope"><div container="" style="position: relative;"><canvas class="heatmap-canvas" width="0" height="0" style="position: absolute; left: 0px; top: 0px;"></canvas></div></heat-map>

[2016-09-17 05:25] RenukaMP commented on #224
`<heat-map data="passed_data" class="ng-isolate-scope"><div container="" style="position: relative;"><canvas class="heatmap-canvas" width="0" height="0" style="position: absolute; left: 0px; top: 0px;"></canvas></div></heat-map>`

[2016-09-17 07:22] pa7 commented on #224
Have you had a look at the example?
`<heatmap id="heatmap-1" data="heatmapData" config="heatmapConfig" ng-click="updateData()"></heatmap>`

1) it's **\<heatmap>** not **\<heat-map>**
2) if it still doesn't work, set the width and height properties:
`<heatmap data="heatmapData" config="heatmapConfig" width="500" height="300"></heatmap>`
3) if there's no data it will not show a heatmap

[2016-09-17 09:51] RenukaMP commented on #224
i just changed the name. otherwise the same code is here.
now i set the width and height properties that is working fine.
thanks a lot :)

[2016-09-18 13:38] pa7 commented on #224
you're welcome

[2016-09-18 13:38] #224 closed

[2016-09-20 13:53] StefanG96 opened #225 "Can't Dynamically Render HeatMaps"
Hi Guys,

I've created a heat map that sources the data from a flat JSON file, which is working fine.

I have another flat JSON file which contains another data set. In response to a button being pressed I want  a new heat map to be rendered using that data, which will dynamically replace the current heat map. I have attempted to use AJAX to achieve this.

Upon pressing the button, the new heat ma

[2016-09-20 14:20] pa7 commented on #225
Have you tried initializing the heatmap overlay only once?
Right now you're re-initinializing google maps and the heatmap overlay when the button has been pressed.  try just initializing it once and only use `setData` to pass the new data

[2016-09-20 18:15] arusahni commented on #205
I, too, am experiencing this issue. At close zoom levels, with very large numbers of documents, my radii explode, basically leaving a large red overlay over empty portions of the map.

[2016-09-21 02:06] StefanG96 commented on #225
Thanks heaps! Got it working!

[2016-09-21 02:14] #225 closed

[2016-09-22 07:39] moby41 opened #226 "heatmap layer is not stick to leaflet baselayer"
I follow the code guide through, and it appears fine at first place.
But when I drag the map, heatmap layer was floating, the red spot changed its supposed point on leaflet map. It's weird.
Can you guys give me some help on this?

[2016-09-22 14:46] pa7 commented on #226
Could you upload an example that can reproduce your issue? (on jsfiddle or another platform)
Thanks

[2016-09-23 13:25] zhukovRoman commented on #96
@dgorissen @pa7 do you solve this problem? I cant add two heatmap on one map.
I have two separeted config objects:
[code]

now, i try add both heatmaps on leaflet map:
[code]

In web console i see, that map-object have two layer with different data and cfg, but i have seen only first layer.

Do you have any solution?

[2016-09-26 20:19] zhukovRoman commented on #96
problem was in styles. In my DOM-tree i find correct layer, than been under map div.
I set style
``` display: absolute !important; ```
in my css file and all work fine

[2016-10-06 12:28] cristiandley opened #227 "React integration ?"
Is there any future plan over React ?

[2016-10-07 15:31] pa7 commented on #227
Yes, a React Heatmap component is planned. If it's urgent and you want to give it a shot, the angular-heatmap plugin could be a good starting point:
https://github.com/pa7/heatmap.js/blob/master/plugins/angular-heatmap/angular-heatmap.js

[2016-10-19 19:10] jocooler opened #228 "IE 11 Heatmap Artifacts"
Hello,

I realize that the Esri implementation isn't on your site, so it probably doesn't get official support, but I'm wondering if any one has experienced something similar and point toward a workaround. I've posted this over on [the esri heatmap repo as well.](https://github.com/Esri/heatmap-layer-js/issues/9)

Whenever I drag the map in IE (chrome is fine), I'm getting a lot of artifacts like

[2016-10-19 19:17] jocooler commented on #228
Here's a better picture of the effect.

![image](https://cloud.githubusercontent.com/assets/10778364/19533740/037072c8-960f-11e6-8698-f6c2534fad0a.png)

[2016-10-20 11:47] jocooler commented on #228
I have come up with a workaround for the time being. I'm leaving the issue open over on the Esri repo because it seems to be a bug, but not a bug in heatmap.js.

[code]

[2016-10-20 19:26] pa7 commented on #228
@jocooler thanks for leaving that here! It seems that the ERSI heatmap layer repo has been abandoned (?) I didn't even know about it til your ticket, will put a link on the heatmap.js website so people can find it easier

[2016-10-20 19:36] pa7 commented on #226
@moby41 closing this as there was no response, feel free to reopen it with more context / data

[2016-10-20 19:36] #226 closed

[2016-10-20 19:37] #221 closed

[2016-10-20 19:46] pa7 commented on #157
@ifreddyrondon I'm afraid heatmap.js can't help you with that because it heavily relies on overplotting. what you're looking for is a multivariate kernel density estimation

[2016-10-20 19:46] #157 closed

[2016-10-21 02:44] pa7 commented on #208
@rhys-vdw thank you for reporting, fixed it :)

[2016-10-21 02:44] #208 closed

[2016-10-21 02:47] #207 closed

[2016-10-24 02:08] aliosv commented on #165
How to update "blur" if it caches by "radius"?
https://github.com/pa7/heatmap.js/blob/master/build/heatmap.js#L438

[2016-10-24 12:08] pa7 commented on #165
@aliosv good catch, it should cache by radius and blur

[2016-10-25 20:44] aliosv commented on #165
@pa7 #229

[2016-11-02 11:26] sorsimu opened #231 "License"
Hi, I want to start using heatmap.js for commercial project.
The project is redistributed and it's not public ( internal network access only or public access but with authorization&authentication).

As a confirmation: In this case, I can use heatmap.js framework for **free** or I have **to pay** "299$-349$ For Companies & Commercial Products" ?

Cheers!

[2016-11-02 12:26] cristiandley commented on #227
Hey @pa7 im working on `react-heatmap` and `react-leaflet-heatmap`, the first one is completly working... i have a shit computer these days so im not able to test it completly but... if someone wants to take the job im happy. I will be posting `react-leaflet-heatmap` tomorrow...

`react-heatmap`

[code]

Have a nice time!

[2016-11-02 15:49] cristiandley commented on #227
@pa7 im working on two solutions, one is `react-heatmap`, and the other one is `react-leaflet-heatmap`

[react-heatmap](https://gist.github.com/cristiandley/46157c292a97c99986f8bd98fcf89d0d)

[react-leaflet-heatmap](https://gist.github.com/cristiandley/46157c292a97c99986f8bd98fcf89d0d)

i got both working just like integrations but not like components... now im trying to export `react-heatmap` fun

[2016-11-02 19:13] pa7 commented on #227
@cristiandley nice catch! that's an artifact from a previous implementation and can be removed :)  are you planning to open a PR for the integrations?

[2016-11-02 21:55] cristiandley commented on #227
@pa7 awesome !!! yes... i will be opening a PR as soon as i can :smile: (by the end of the week)

[2016-11-06 17:15] axwalker commented on #201
I've just come across this same issue. Did you find a better solution?

When I call `addData` both my min and max are getting set to whatever the value of the point I added was which breaks the whole thing. To counter this I call `setDataMin` and `setDataMax` after each `addData` call but in some cases this causes the heatmap not even to be painted at all for some reason.

The other alternative I'

[2016-11-06 17:33] axwalker commented on #201
I just noticed I was passing `x` and `y` values that were non-integers. Once I rounded these before calling `addData` the  problem seems to have gone away. `addData` no longer resets the the `min` and `max` values. Given that the `value` of a data point has to be an integer I'm assuming maybe the coordinates have to be as well.

[2016-11-08 17:02] ollakalla opened #232 "Maximum call stack size exceeded"
What i'm trying to do is get data via ajax after document is ready
so i add this code in `success_array` function
`heatmapInstance.addData(success_array.array_data);`
but i have this error in console

FYI. the array size is big 4000 record

[2016-11-12 19:22] MahmoudTahaMat opened #233 "heatmap.js-master Examples not working"
i have downloaded heatmap.js-master and when i extracted the folder and pressed over

heatmap.js-master\heatmap.js-master\examples\angular-heatmap\index.html

no heat map previewed
![image](https://cloud.githubusercontent.com/assets/23422806/20240314/1d15645a-a91e-11e6-9aa9-1a831f404c76.png)

[2016-11-13 14:09] AppWerft commented on #206
The google heatmap plugin doesn't know the method configure(). Therefore I cannot resize radius. How can I remove from map? (to readd)

[2016-11-18 18:25] jocooler commented on #228
Sorry I didn't get back sooner - I got this message that day github was down for the east coast and couldn't see it.

Esri has now implemented heatmaps internally, so the old plugin might be abandoned. Not sure how similar the new implementation is to yours; all I know is that for my custom application the "new" method didn't work and I had to dig and find the previous, more flexible way of doing

[2016-11-20 23:15] QCmu opened #234 "How could I transform the canvas"
update:
solution: using css:
`#heatmap{
-webkit-transform: skew(-45deg);
-moz-transform: skew(-45deg);
-o-transform: skew(-45deg);
-ms-transform: skew(-45deg);
}`

Hi ,
I intend to display a heatmap for multiple floors of a building. Therefore I need to transform the rectangular heatmap to a parallelogram. I thought the following code could help, but it didn't work. Any help would be appreciated!

[2016-11-21 00:26] pa7 commented on #234
have you tried using css and selecting .heatmap-canvas for a CSS transformation?

[2016-11-22 19:07] pa7 commented on #234
solution is in the issue content:
[code]

[2016-11-22 19:07] #234 closed

[2016-11-29 07:30] jyhyen opened #235 "heatmap color different problem"
I download heatmap.js v2.0.5 to drawing heatmap, but there is a problem.
When I use setData function with the same data input, the heatmap result of the first and the second time  are different...

The codes are attached. someone could fix the problem!?
[issue.txt](https://github.com/pa7/heatmap.js/files/618333/issue.txt)

[2016-11-30 13:44] pa7 commented on #235
@jyhyen could you provide some more context? What browser are you using? What OS?

[2016-12-01 10:43] quietsnowyday commented on #206
Meet the same problem. I add a function to "Store.prototype", like this:
<div>
<pre><span style="color: #008080;"></span> ,resetRadius: <span style="color: #0000ff;">function</span><span style="color: #000000;">(radius){
</span><span style="color: #008080;"></span>   <span style="color: #0000ff;">if</span><span style="color: #000000;"> (radius) {
</span><span style="color: #008080;"></span>     <s

[2016-12-02 04:49] amouly opened #236 "Angular 2 support?"
Any plan to support Angular 2 and implementation examples?

Thanks!

[2016-12-03 15:01] cristiandley commented on #227
@pa7 are you there ?

[2016-12-03 15:15] pa7 commented on #227
@cristiandley sorry, didn't see the edit about es6. I'd prefer not adding a babel setup for the whole repo as I'm currently not using es6, however you could add it in the plugins subfolder e.g. in a folder  `react-heatmap`. Make sure to add the compiled code too so examples can reference it

[2016-12-03 15:18] pa7 commented on #236
@amouly At some point in the future, yes, but it's not my top priority now. Do you want to give it a shot? Do you know what needs to be done to move from angular1 to angular2?

[2016-12-05 02:15] haormj opened #237 "Can I use heatmap in jvectormap"
Now I want to use heatmap in jvectormap, but the document is not mention

[2016-12-05 15:14] pa7 commented on #237
@haormj heatmap.js does not support jvectormap and there are no plans to support it so far. However you can write a plugin to support it and use heatmap.js as a layer on top of jvectormap. If you have any questions, don't hesitate to ask

[2016-12-07 06:21] jyhyen commented on #235
chrome 54.0.2840.99 m (64-bit)
win7 professional sp1

I find that use firefox and IE wouldn't have this problem

[2016-12-09 20:45] bbeckrest opened #238 "Data value of 0 is set to 1 by default in data.js"
https://github.com/pa7/heatmap.js/blob/master/src/data.js#L29
![screen shot 2016-12-09 at 3 42 39 pm](https://cloud.githubusercontent.com/assets/11544936/21063925/2d33d688-be26-11e6-9eb2-8a690962c973.png)

When you have data containing values of 0, `dataPoint[this._valueField]` evaluates to `0`, which is falsey and defaults the value to 1, causing the heatmap to be wrong.

[2016-12-16 12:51] PedroD opened #239 "How can I have the interpolated points averaging instead of adding up?"
I have two points with overlapping radiuses as you can see here:

http://image.prntscr.com/image/08c90ed3d3d64d479dcc2810a89a9845.png

They are both green colored, so far so good. But I have two issues here that I need to correct:

1) The interpolated points should never go other color than the average between both, what happens here is that both green values add up and go yellow. I assume the way

[2016-12-19 23:34] fuzzthink commented on #110
Renaming is not a fix. Heatmaps are a type of data visualization and its usage outside of ads are vast. It needs to be un-blacklisted, it's that simple. You are killing the web by blocking such a generic term.

[2016-12-31 00:46] andreabazerla opened #240 "Can you describe me the algorithm behind heatmap.js, please?"
Hi, I want to hack your heatmap.js, through reverse engineering, to recreate a custom version for me but code is too complex to understand without any comments.

Can you describe me the algorithm behind heatmap.js, please?

I need the easier but accurate algorithm in pseudo-code of you library.

Thanks!

[2017-01-10 21:34] ssilwa opened #241 "Multiple heatmap layers with gmaps"
I am currently using the gmaps extension to plot a heatmap over google maps. Is it possible to have two different heatmap overlays displayed together over the same google map?

For example, the initialization for the first plot is:

[code]

Is it possible to have another 'HeatmapOverlay' instance with different parameters and different test data but plotted over the same 'map' intance ?

Thanks!

[2017-01-11 09:42] aosdf6dd opened #242 "heatmap layer disappearing sometimes on some zoom levels"
Hi!

Has anybody else experienced the issue that the heatmap layer disappears when zooming out of the map? On zoom level 2 the heatmap suddenly disappears. Sometimes moving the map makes them visible again, but not reliably.

It happens to me in IE, even with the live example: https://www.patrick-wied.at/static/heatmapjs/example-heatmap-googlemaps.html

with best regards!

[2017-01-11 20:51] ssilwa commented on #96
@zhukovRoman
Hello, can you please explain a little more about your solution?
Currently, I have
[code]
but the second layer is not showing up.

[2017-01-12 08:36] zhukovRoman commented on #96
@ssilwa
Hello. You can find DOM-nodes inside your `<div id="map-canvas">` with class `leaflet-zoom-hide`. `canvas` tag of your heatmaps are Inside this nodes.

and I simply add style
`.leaflet-zoom-hide {
  position: absolute!important;
}`

and all works fine for me.

[2017-01-12 15:57] ssilwa commented on #96
@zhukovRoman Sorry, can you be clearer? I am not sure where I should add that style.

[2017-01-12 16:02] pa7 commented on #96
@ssilwa add it somewhere after the leaflet stylesheet so it will override the leaflet style.

[2017-01-12 17:15] ssilwa commented on #96
@pa7  @zhukovRoman
I have
[code]
after the leaflet style sheet but only the first layer is showing. Here is my code for the layers:

[code]
Is it an issue there ?

[2017-01-12 17:44] zhukovRoman commented on #96
@ssilwa
in the HEAD part of your html page insert after `<link rel='leaflet.css'>`
the following lines

`<style>
   .leaflet-zoom-hide { position: absolute!important; }
</style>`

Now, in any place inside BODY tag place map container:

`<div style="position: relative; height: 600px; width: 800px;" class="heatmap" id="map-canvas"</div>`

and use heatmap as you described above.

If problem will stil

[2017-01-12 19:11] ssilwa commented on #96
@zhukovRoman
Thank you for your help so far. I think I am almost there. Using
[code]
does not work and I can only get something to render if I use

[code]
instead. Here is my full code:
[code]
Thank you again!

[2017-01-12 20:01] ssilwa commented on #96
@pa7 @zhukovRoman Ok, it seems to work! Thank you again!

[2017-01-12 20:04] ssilwa commented on #241
Resolved. See
https://github.com/pa7/heatmap.js/issues/96#issuecomment-272202758

to see how to do this with leaflet.

[2017-01-12 20:04] #241 closed

[2017-01-12 20:06] pa7 commented on #96
@ssilwa thank you for the feedback, I will add an example with multiple layers soon :)

[2017-01-12 21:20] ssilwa opened #243 "Heatmap does not empty with .setData({data: []})"
I am currently using the Leaflet plugin to create multiple heatmap layers. However, I cannot seem to clear a heatmap layer and draw an upated map. My code is
[code]
I have also tried:

[code]
This does remove the layer but I cannot figure out how to redraw the updated map. Does anyone have any ideas ?

[2017-01-12 21:43] pa7 commented on #240
@andreabazerla I wrote a couple of times about heatmap.js and its architecture on my blog, feel free to check it out:
https://www.patrick-wied.at/blog/?s=heatmap  might be helpful

[2017-01-12 21:43] #240 closed

[2017-01-12 21:47] pa7 commented on #233
There are two potential reasons for that:
1) because you're not serving the files from a web server ( the readme explains how to run the examples locally! )
2) you're having a script blocker (ie adblock+) that's removing heatmap.js

Please reopen if it's still not working after reviewing my feedback

[2017-01-12 21:47] #233 closed

[2017-01-12 21:49] #228 closed

[2017-01-12 22:03] pa7 commented on #237
Please reopen if this is something you're interested in

[2017-01-12 22:03] #237 closed

[2017-01-13 05:12] #168 closed

[2017-01-13 16:06] ssilwa commented on #243
I figured out this issue. We can use this excellent Leaflet [tutorial](http://leafletjs.com/examples/layers-control/) to control the layers that we want to show. This works seamlessly with all of the add-on functionalities of heatmap.js! I highly recommend going through the leaflet documentation since it is possible to do a LOT more with the leaflet plugin than what the examples show!

[2017-01-13 16:06] #243 closed

[2017-01-16 16:37] wigvp commented on #231
License is MIT: https://github.com/pa7/heatmap.js/blob/master/LICENSE

So it should be no problem to use the project commercially... I think.

[2017-01-16 18:29] #231 closed

[2017-01-17 14:32] cedricve opened #244 "transparency heatmap"
Is it possible to draw the heatmap on top of an image, which was previously drawn on the canvas?
The issue I'm now having is that the canvas is cleared, and so the image.

[2017-01-17 14:55] pa7 commented on #244
- use a separate canvas (!)
- whenever your data (/heatmap) changes draw image on canvas, then export heatmap w/ instance.toDataURL(), load as image, and also draw it on canvas

Hope that helps, reopen if that's not what you needed or if it's unclear

[2017-01-17 14:55] #244 closed

[2017-01-17 15:09] #62 closed

[2017-01-17 15:11] cedricve commented on #244
so the idea is that I layer the two canvas?

[2017-01-17 15:12] pa7 commented on #38
There's a mapbox heatmap plugin available on mapbox now

[2017-01-17 15:12] #38 closed

[2017-01-17 15:13] #40 closed

[2017-01-17 15:13] pa7 commented on #43
Has been fixed

[2017-01-17 15:13] #43 closed

[2017-01-17 15:14] #50 closed

[2017-01-17 15:14] #58 closed

[2017-01-17 15:16] pa7 commented on #59
fixed, there's now a config option to set width & height explicitly

[2017-01-17 15:16] #59 closed

[2017-01-17 15:17] pa7 commented on #64
As nobody else expressed interest in a VML renderer I will close this issue for now

[2017-01-17 15:17] #64 closed

[2017-01-17 15:26] pa7 commented on #244
the idea is to merge two images (your background image, your heatmap exported as dataURL) into one single canvas

[2017-01-17 15:27] pa7 commented on #236
Closing for now, please reopen if there's more interest

[2017-01-22 04:53] hijiangtao opened #245 "Supplements for heatmap.js plugins' usage in AMD, CommonJS/Node.js, ES6 contexts"
I found the installation guidance of heatmap.js in different context, it's very useful because I am currently using Node.js as my developing back-end context, but the usage in how to include them into these kinds of context is rare. Because CommonJS/Node.js need to load variable from package, and heatmap.js' plugin has specific instance creation approach, I think it's good to include these content

[2017-01-23 22:24] augustobg opened #246 "GeoJson Data"
It is possible to implement this using geojson data?
Instead of using params for lat and lng as lat: 'lat'..

Im having some problems on how to implement the heat map with my geojson data..so, a little help would be appreciated.

[2017-01-23 23:55] pa7 commented on #246
You'd have to transform your geojson into lat/lng objects to make it work with heatmap.js

[2017-01-24 16:40] augustobg commented on #246
Oh, ok I will try that, any news will comment or close this issue. Thanks

[2017-01-25 18:55] jocooler opened #247 "Making a transparent gradient stop"
Hello,

I'm trying to make a gradient that doesn't show at all until I hit a certain threshold, something like this:

    "gradient": {
		  0.00: "rgba(0,0,0, 0)",
              0.10: "rgba(50,200,100, 0.9)",
              0.15: "rgba(50,200,200, 0.9)",
              0.20: "rgba(0,255,0, 0.9)",
              0.24: "rgba(155,255,0, 0.9)",
              0.27: "rgba(255,255,0, 0.9)",
              0.

[2017-01-26 17:52] augustobg commented on #216
Im getting the same problem. And so far cant figure way.
Anyone got something, or maybe just change to leaflet-heat.js will make the work?

[2017-01-26 18:02] pa7 commented on #216
@augustobg have you tried installing the leaflet-heatmap plugin via npm? it makes sure it has the correct dependencies:
npm install  [leaflet-heatmap](https://www.npmjs.com/package/leaflet-heatmap)

[2017-01-26 19:10] pa7 commented on #247
Hey! thanks for reaching out, there is an (unfortunately not yet documented) configuration property called `useGradientAlpha`  https://github.com/pa7/heatmap.js/blob/master/src/renderer/canvas2d.js#L161
Could you set that to true in your heatmap configuration and try again?

[2017-01-26 19:32] augustobg commented on #216
yes, and still getting the: Uncaught ReferenceError: HeatMapOverlay is not defined.
I will try using leaflet-heat.js, and see if works.
Thanks anyway :)

[2017-01-26 21:38] pa7 commented on #216
if anyone else is experiencing this issue please post a link to a codepen so I can have a closer look at it

[2017-01-26 21:38] #246 closed

[2017-01-26 21:47] pa7 commented on #245
hi @hijiangtao did you use the leaflet plugin from npm? (  npm install leaflet-heatmap ) because that was actually the rationale behind putting the plugins on npm, so it would only require a single import and the plugin takes care of its dependencies (in this case heatmap.js & leaflet)

[2017-01-27 18:36] jocooler commented on #247
Hey, that's magic!

Thanks very much!

[2017-01-27 20:58] pa7 commented on #247
glad I could help \*now filing a ticket to document that property*

[2017-01-27 20:58] #247 closed

[2017-01-27 20:59] pa7 opened #248 "Document useGradientAlpha"
`useGradientAlpha` config property is currently not documented on the heatmap.js homepage

[2017-02-01 21:55] eps1lon commented on #209
Any progress with this? configure works with min and maxOpacity but blur and radius are not currently supported and need a completely new heatmap instance to have any effect.

[2017-02-03 06:18] hijiangtao commented on #245
Yes, actually I use `import L from 'leaflet'` from package manager, and the version is `"leaflet": "0.7.7"`, but it may not have too much impact on heatmap.js, since I saw lines of codes in heatmap.js that is dealing with the compatibility of different leaflet.js' version.

And on the other hand, it's simply a single import that really matters, but I thought if you could put more information in ma

[2017-02-22 14:16] asierfd opened #252 "Heatmap animation"
Is possible to use this heatmap animation using Angularjs version?

[2017-02-22 14:56] pa7 commented on #252
you could implement a directive that wraps the existing angularjs heatmap directive and updates the its data to animate it.
The existing angularjs heatmap directive does not offer animation out of the box

[2017-02-22 14:56] #252 closed, assigned to nobody

[2017-02-22 20:51] kmlwlkwk commented on #219
Same here. I found that problem occur only on prod env when all my scripts are bundled and "use strict" is on top of bundle.

[2017-03-01 13:00] jocooler opened #253 "Smart adjustment for gradient configuration"
I'm trying to find some way to adjusting the heatmap configuration based on the data so that it is meaningful in more cases. I'm using this for a mapping application. I've gotten part of the way by nudging the color stops depending on zoom level, but it's still not as useful as I'd like.

I have a map showing crash data. Depending on the query, there could be anywhere from 0 - 5000 locations on th

[2017-03-01 19:57] milldr commented on #216
I have the same problem. is there a solution to this yet?

[2017-03-01 20:01] augustobg commented on #216
I use leaflet.heat
Works pretty well for me, give it a try.

[2017-03-01 20:02] milldr commented on #216
i'll try that, thanks

[2017-03-01 23:15] pa7 commented on #216
@miller-6227 I cannot fix this issue if you don't provide a URL where I could have a look at it. If leaflet.heat works for you (and you don't need dynamic data) that's great, but I'd appreciate if you could upload your attempt to get it to work somewhere where I can have a look at it

[2017-03-06 20:31] khoks commented on #236
There is definitely more interest. We are moving our data mining efforts to angular 2 based UI.

[2017-03-13 13:47] LePew commented on #223
Hi pa7.
Thanks a lot for your work. I just tried the bugfix you suggested and it seems to work as expected. It would be great to merge it to the codebase and offer this as a cfg option: renderAdditive or renderAveraged.

[2017-03-13 20:03] LePew opened #254 "Bug calculating LocalExtreme in leaflet-heatmap.js"
Hi.
I noticed a bug in leafleat-heatmap.js, when useLocalExtrema=true, localMin is bounded to 0, even if the real local minimal value is >0.
At the beginning of the loop, localMin should be initialized to localMax, not 0;

Workaround:
Line 117:
`
var localMin; // don't initialize localMin to 0
`
then from L131:
        `// local max is the maximum within current bounds`
`localMax = Math.max(value,

[2017-03-14 01:06] pa7 commented on #254
thanks @LePew for reporting, thought I have fixed that in the past, but I did not. will push a fix soon

[2017-03-14 01:07] pa7 commented on #223
@LePew did you check it w/ my branch, or tested the old PR?

[2017-03-14 09:42] LePew commented on #253
Hi.
Do you use a different radius for each point of your dataset? (ie: [lat, lng, value, radius])

[2017-03-14 10:27] LePew commented on #238
Here is a fix I use. I don't know if it's the right way to do it :)
 (replace L29):
`var value = dataPoint[this._valueField]==undefined ? 1 : dataPoint[this._valueField]; // If point has no value set, fallback to 1, else use the value provided`

[2017-03-14 11:27] LePew commented on #223
@pa7 I backported https://github.com/pa7/heatmap.js/tree/bugfix/data-interpolation to current branch to test it. But after more testing, I found out some problems:
- Treatment is slow with huge datasets
- Sometimes graphical smearing appears at certain zoom levels (using with leaflet)
- Zooming in and then zooming out doesn't render the same gradient (leaflet/FF52.0/Linux).

I need time to play a

[2017-03-14 11:30] LePew commented on #205
For my app, I use `scale=zoom;` instead...

[2017-03-14 12:43] jocooler commented on #253
@LePew No, they are all the same.

[2017-03-14 13:41] caidaorui commented on #127
Will Heatmap.js  have Cesium.js support? If so how soon?

Thanks

[2017-03-14 13:43] LePew commented on #253
@jocooler It's just a hint, but you could try adjusting minOpacity to 0.1 (for low values) ?
For my own needs (using leaflet-heatmap), I modified the "scaleRadius" from `scale = Math.pow(2, zoom);` to `scale=zoom;`  because I need to scaleRadius when I zoom in, but the default value wasn't really useful to me.

If your dataset's values are something else than 0 or 1, you could also index the radiu

[2017-03-15 08:10] farhanhaseeb opened #255 "Heatmap not render at all"
I have a canvas of 1920x37260 px, but when i try to draw heatmap on it, it doesn't render and gives error on  Canvas2dRenderer.prototype._colorize with NS_ERROR_FAILURE while it works perfectly with small resolutions.

Please suggest what to do to run this on big resolutions. Thanks

[2017-03-15 09:33] LePew commented on #255
This is a huge canvas! Out of bounds? Out of memory?
I'm afraid the height of a canvas cannot exceed 32767 px on some platforms. Could you check with a canvas of 1920x32767 px?

[2017-03-15 10:53] farhanhaseeb commented on #255
Yes, this range is out of bounds and you are right, it cannot exceed the defined limit. So, if this the case, how can we draw heatmap on such dimensions?

[2017-03-15 11:58] pa7 commented on #255
@farhanhaseeb split it up in multiple, smaller heatmaps that don't exceed the maximum canvas size:
http://stackoverflow.com/questions/6081483/maximum-size-of-a-canvas-element

[2017-03-15 12:24] #255 closed, assigned to nobody

[2017-03-15 17:12] pa7 commented on #253
@jocooler have you tried using the `onExtremaChange` callback configuration?
It will be called whenever min or max changes, simply pass the callback to your instance config:
[code]

[2017-03-15 17:16] pa7 commented on #245
@hijiangtao thank you for the feedback, I will add some documentation about that on the heatmap.js website :)

[2017-03-16 12:01] hijiangtao commented on #245
Never mind :smile:

[2017-03-16 16:13] pa7 opened #256 "Create scroll heatmap plugin"
Support for scroll heatmaps w/ a heatmap.js plugin that generates a linear gradient based on y datapoints ( ie scroll positions )
![scroll heatmap](https://cdn2.hubspot.net/hub/1951809/hubfs/Image/screen_scroll.png?width=700&height=442&t=1487966948936)

[2017-03-26 14:18] meliborn opened #259 "Heatmap layer changes on zoom and scroll"
Here is an example of what I'm talking about https://monosnap.com/file/RlCBVesSFsBHEaJP7KaHzzS4aNeavp#embed

I'm expecting to see constant layer without any changes even on zoom or scroll. Am I missing something?

[2017-03-27 01:06] pa7 commented on #259
it looks like you're having useLocalExtremas set to true. in that case it will look for the highest visible point and use that as maximum for the heatmap, disable it and it should behave properly

[2017-04-05 08:54] marsousa commented on #223
Hi pa7.
Thank you for your work on heatmap.js !
Any further development on this issue ?
If not for the average between values, is there a simple way to limit the interpolation to the max from the dataset (#90) in the current version ?

[2017-04-07 07:37] wangdongwu commented on #256
hi,When to support?

[2017-04-12 11:00] tcomert opened #260 "Certain datasets do not render"
I've got a strange issue where some of my datasets do not display on the heatmap. I initially thought it was related to the size of the dataset, position of the points, or strength of the color change, but the datasets are varied in size and all data points have an x/y value that are within the size of my canvas. When I step through the rendering process in the debugger I can see that when the `_g

[2017-04-17 10:57] ahmed-bermawy opened #261 "Show the number range of intensity for every color"
I want to know the range of intensity for every color, so i have a heat map for people, and i want to know
how much people range in red, yellow and lime colors

    var config = {
    container: document.getElementById('heatMap'),
    radius: 40,
    maxOpacity: .5,
    minOpacity: 0,
    blur: .75,
    gradient: {
    0.4:  '#f23e45',
    0.50: 'lime',
    0.70: 'yellow',
    0.95: '#FF8300',

[2017-04-26 09:47] jihgao opened #263 "Bug located in heatmap.js/examples/angular-heatmap/index.html"
The controller declaration became to
` .controller('HeatmapCtrl', ['$scope', '$heatma
              value: ((Math.random() * max + min) >> 0),p', function($scope, $heatmap) {`

[2017-04-27 13:43] pa7 commented on #263
@jihgao this has been fixed in `develop` https://github.com/pa7/heatmap.js/blob/develop/examples/angular-heatmap/index.html

[2017-04-27 13:43] #263 closed, assigned to nobody

[2017-05-02 11:42] jakob-e commented on #219
FYI – this fork worked for me
https://github.com/santoscharlie/heatmap.js/blob/146116ac2f0249d501ec3767729b8429fc57ae3e/build/heatmap.js

[2017-05-08 18:20] vikas0vanvi opened #264 "Show heatmap for perticular date?"
Is it possible to Show heatmap for perticular date?

[2017-05-08 20:56] ndrubins opened #265 "Adding a character matrix to heatmapr's cellmate and ggdend objects to Rowv and Colv rather than dendrograms"
Hi,
I was wondering if it will be possible to create a `heatmapr` object where `cellnote` is a `character` `matrix` rather than a `numerical` one?

In addition, there are situations where a use might like to manipulate the `dendrogram` originally obtained from `hierarchically` `clustering` the `matrix` on which the `heatmap` was built, hence passing `ggdend` objects to `Rowv` and `Colv` - post the

[2017-05-08 21:31] pa7 commented on #265
hi @ndrubins , are you sure this is the right repository for this issue? this is `heatmap.js` not `heatmapr`

[2017-05-08 21:32] pa7 commented on #264
As long as you have 3d data for a particular date heatmap.js will render a heatmap for you :)

[2017-05-08 21:32] #264 closed, assigned to nobody

[2017-05-08 21:43] ndrubins commented on #265
Sorry about about that @pa7. I meant to post it on [https://github.com/talgalili/heatmaply/issues](url).

Is it possible to delete this issue?

[2017-05-08 21:46] #265 closed, assigned to nobody

[2017-05-08 21:46] pa7 commented on #265
@ndrubins no worries, I just closed it

[2017-06-01 01:40] nancy-grow opened #266 "how to make a addEventListener like mouseover"
how to make a  addEventListener like mouseover

[2017-06-01 07:43] ParadeTo commented on #206
@quietsnowyday It's very good!

[2017-06-01 09:30] pa7 commented on #266
hi @nancy-grow could you elaborate on that? and what would be your use case for that?
Here's an example having a mouseover on a heatmap if you haven't seen it yet:
https://www.patrick-wied.at/static/heatmapjs/example-legend-tooltip.html

[2017-06-13 16:45] paulm17 commented on #256
What's the ETA on this?  Thanks

[2017-06-14 12:37] ghost opened #267 "Init Error: Failed to execute 'getImageData' on 'CanvasRenderingContext2D'"
Hi there,

I try to use heatmap.js with the leaflet plugin and testing the code below in a HTML file which I load locally. Once I open the file in my browser (latest Chrome), I got the error:
[code]

Used heatmap.js 2.0.5 & leaflet-heatmap 1.0.0 (both from npm via https://unpkg.com) with leaflet 1.0.3.

[code]

Any help is greatly appreciated.

Best regards

[2017-06-20 10:53] ghost opened #268 "Jumpers in demo with some resolutions"
Hi,
tried out the demo on some devices.

1920 x 1080 -> jumps
1360 x 768 -> works
1280 x 1024 -> jumps
1280 x 768 -> works
1024 x 768 -> works

All jumps are to the left-top about 100px depending on the resolution.

Is this issue known?

[2017-06-20 10:56] ghost commented on #268
HP 250 G5 (SP Z2X9ES),
15.6" 16:9, 1920x1080, 141PPI

[2017-06-21 07:39] pa7 commented on #268
@jakope what do you mean with jumps?

[2017-06-23 16:10] karenpommeroy opened #269 "Cannot remove heatmap layer"
Hi,

I am using leaflet-heatmap plugin.

Some options are not working through configuration so I figured out I could destroy and recreate heatmap (and layer itself).

Now is there any way make a clean remove?
Simple workflow that works with other leaflet layers does not work here since it leaves heatmap instance.
I tried to delete it manually but no luck so far..

[2017-07-10 03:06] zsxgb opened #270 "I would like to use heatmap in vue electron. How to do it"
I use import heatmap from 'heatmap.js' and use it in the template
Var heatmap = heatmap.h337.create,
This is not the way it is.

Because it will be given
Uncaught TypeError: Can not read property 'create' of undefined

[2017-07-10 12:10] zsxgb commented on #200
hi  @hgascoigne

after import HeatmapJS from 'heatmap.js/heatmap.js'
and how do you use it. like
var heatmap = HeatmapJS.h337.create(config)

this make some trouble

[2017-07-10 12:23] pa7 commented on #270
@zsxgb have you tried
[code]

[2017-07-10 14:59] hgascoigne commented on #200
@zsxgb You should be able to just use `HeatmapJS.create(config)`

[2017-07-11 01:59] zsxgb commented on #270
I checked the compiled code and found that it was compiled into
Import h337 from 'heatmap.js';
Var heatmapInstance = h337.create ({
       Container: document.querySelector ('. Heatmap')
});

Var _heatmap = require ('heatmap.js');
Var _heatmap2 = _interopRequireDefault (_heatmap);

Var heatmapInstance = _heatmap2.default.create ({
       Container: document.querySelector ('. Heatmap')
     });

It

[2017-07-11 10:56] zsxgb commented on #270
thank you for your help.

Your method is very easy to use I have applied the heatmap in my application

[2017-07-11 11:00] zsxgb commented on #200
thank you for your help.

Your method is very easy to use I have applied the heatmap in my application
@hgascoigne

[2017-07-11 12:36] #270 closed, assigned to nobody

[2017-07-13 10:37] fitconsulting commented on #268
I tested it in chrome & safari: I clicked at some point and the heatmap-point is on another place. 30px down & left - and not at the position where i clicked. I have the error also at your demo: https://www.patrick-wied.at/static/heatmapjs/example-click-heatmap.html

[2017-07-13 10:48] saweiss1 commented on #268
kontakt
Key:c234eedef44a455a9143dc57ce58ec77
Secret:ef54d59dab5843b5b45a5e1d7362992f

iota

0,03233062
0,04136832

mail
Key:d5bde6cb7d9544bcb5174894ce243ec1
Secret:1c03d695f9954e50ada580a0223ca1d3

saweiss
1564x2

yobit
key F23A7E2BBB40567A8D79939110096E36
secret c2d5dd2979ff645389aa01c727db3879

mail wallet: 16s5rkB4t6yKieg2yX4iAykbH2EZ8zDcRx

I tested it in chrome & safari: I clicked at some poi

[2017-07-13 10:49] saweiss1 commented on #268
I tested it in chrome & safari: I clicked at some point and the heatmap-point is on another place. 30px down & left - and not at the position where i clicked. This also happend at your demo: https://www.patrick-wied.at/static/heatmapjs/example-click-heatmap.html - but only in some resolutions

[2017-07-19 13:38] iofirag commented on #71
+1

[2017-07-31 07:51] dyh333 opened #272 "could heatmap support openlayers?"
as the title, could heatmap support openlayers?
looking for it!

[2017-08-23 00:02] malaguitte commented on #215
I was getting a similar error on a simple page (without Angular), after refreshing the page a couple of times.
The solution suggested by @tnusraddinov fixed it for me :) Thanks!
I had to use the `setData` method, though.

`google.maps.event.addListenerOnce(map, "idle", function() {
   heatmap.setData(mydata);
});`

[2017-09-25 08:41] vaydich commented on #236
Is there angular 2 support?

[2017-10-10 13:01] paulm17 commented on #256
Thought I would bump again!  Any ETA?

[2017-10-11 20:24] yihengli commented on #236
I find the following type definition file working for me:
https://libraries.io/npm/@types%2Fheatmap.js/2.0.33

I combined it with another awesome project
https://github.com/Asymmetrik/ngx-leaflet
and it seems work in Angular4.

[2017-10-12 12:56] vaydich commented on #236
Can you explain it in more detail.
You install @types and require sciript heatmap.js in cli.json?
After that you can use construction like this:
`var heatmapLayer = new HeatmapOverlay(cfg);` ?

[2017-10-12 12:59] rebendajirijr commented on #236
But what if I don't want to use leaflet? How can one call h337.create() method using the typescript?

[2017-10-12 13:40] yihengli commented on #236
@vaydich

1. `npm install` both `heatmap.js` and `@types/heatmap.js`. There is a trick, `@types/heatmap.js` comes with its own dependency (`leaflet`) but an older version. You will have to delete it from `node_module/@types/heatmap.js/...` if you have already installed your own separate `leaflet`. (Which is a case for me because `ngx/leaflet` needs `leaflet` as well)

2. Import all your source js

[2017-10-12 13:42] yihengli commented on #236
@rebendajirijr

Unfortunately, I didn't try to explore that part in my project (all I need is heatmap on leaflet). But I think it's doable if you can find the proper type definition file for the feature that you need. In the worst case, you might need to write one for `heatmap.js`

[2017-10-21 18:41] iamsolarplexus commented on #260
Thank for this.  I ran into the same issue.  It wouldn't render until there was a coordinate set with round integers (instead of two floats).  Your hack fixes it for me, though.  Much obliged.

[2017-10-24 20:34] bellwood opened #276 "Possible to use flex-box/divs as data points?"
Say I have a grid of 12x12 divs on my page and they each have data-weight attribute value

Would it be possible to draw a heatmap over this 12x12 grid using the data-weight attribute values and locations on the page?

[2017-10-25 17:33] pa7 commented on #276
Yes:
- [ ] create a heatmap w/ heatmap.js
- [ ] get all the div positions and create a data object based on positions and weights
- [ ] listen to element resize events and regenerate the dataset when it's fired

[2017-10-25 17:33] #276 closed, assigned to nobody

[2017-10-25 18:37] tasn commented on #260
I've also encountered the same issue, and here too, the solution was to surround my values with Math.round() to make sure they are integers. It drove me mad for a while.
Important to note that with some floaty datasets it would work, just not with all.

[2017-10-26 05:17] pa7 commented on #260
this is due to the nature of how heatmap.js stores values internally, x & y coordinates currently have to be integers. Do you happen to have a usecase where sub-pixel positioning is critical?
I will update the docs to make it more clear, thank you for reporting!

[2017-10-26 05:17] #260 closed, assigned to nobody

[2017-10-26 08:32] tasn commented on #260
@pa7, docs are nice, but maybe just force them to be ints from within the lib or at least error about it?
I can't speak for the others, but I don't care about sub-pixel positioning, it's just how I interact with the library. In my use-case, generating hitmaps using pixel values makes no sense, so I have a wrapper layer that translates my values to pixels, and the conversion just happens to be non-

[2017-10-26 17:56] iamsolarplexus commented on #260
Interesting and glad to know that floats aren't supported.  I did look for that in the docs, so it'll be a good inclusion in the future.  Thanks for keeping this current for us!

[2017-11-15 15:32] banduk opened #277 "getValueAt + leaflet"
Hi,

I know the question is a bit open, but had anyone tryied to use `getValueAt` with the `leaflet plugin`?

I'm having issues to get the value of a point.
I guess this has something to do with the kind of coordinates used. It seems it is not getting the correct value from the gradient.

The farthest I got was `shadowCtx.getImageData(point.x, point.y, 1, 1)` and the `img.data[3]` is always 0 even

[2017-11-17 18:55] ghost commented on #236
i used below approach,
npm install leaflet-heatmap --save

import HeatmapOverlay from 'leaflet-heatmap';

const testData = {
      max: 8,
      data: [{lat: 24.6408, lng: 46.7728, count: 3}, {lat: 50.75, lng: -1.55, count: 1}]
    };

const cfg = {
      // radius should be small ONLY if scaleRadius is true (or small radius is intended)
      // if scaleRadius is false it will be the constant rad

[2017-11-21 17:12] Bengreen commented on #216
are there any examples of HeatmapOverlay working in angular2

[2017-12-06 23:53] iamjoeysox commented on #256
This would be an awesome feature addition and it's the only thing holding back my company from using this in production.

[2017-12-07 10:28] rebendajirijr commented on #223
Is there any progress on this issue? I'd also appreciate values being averaged instead.

[2017-12-14 09:11] Arther1228 opened #278 "render bug"
Hi,
I don't know how to describe this problem， the first load is no problem，but when i zoom in the map，the heatmap will show something wrong like this:
![image](https://user-images.githubusercontent.com/10756846/33984125-845856ca-e0f1-11e7-8057-25a3c81e3f0b.png)

in the app, i use the heatmap plugin for arcgis： https://github.com/Esri/heatmap-layer-js,
Is this issue known? thanks.

[2017-12-18 13:33] assaad opened #279 "React/ Typescript support"
Hello,
It's an excellent project, would be great if we have a react and typescript support.
Many many thanks!

[2017-12-25 19:48] satishverma143 commented on #256
yes, i also want this feature. plz let me know when this feature will come in this library.

[2017-12-27 01:22] matthewchoy88 commented on #25
@pa7 Did you ever write that blog post about how to aggregate data?

[2018-01-08 19:34] maiconcosta opened #280 "How to regenerate the heatmap"
I am using angle 4 to display the heamap and need to regenerate as soon as the function is called again.

My code:

    private inicializarHeatmap(heatData, media) {
    let canvas = this;
    function $(id) {
      return document.getElementById(id);
    };

    let heatmap;
      heatmap = h337.create({
        container: document.getElementById('heatmap'),
        maxOpacity: .7,
        radius

[2018-01-09 11:46] #280 closed, assigned to nobody

[2018-01-11 15:10] acner commented on #216
I use  leaflet.heat
npm install leaflef
npm install --save https://github.com/Leaflet/Leaflet.heat/tarball/gh-pages

`import { Component } from '@angular/core';
import { HttpClient} from '@angular/common/http';
import { NavController } from 'ionic-angular';
import 'rxjs/add/operator/map';

import 'leaflet';
import  "leaflet.heat";

declare var L: any;//Declare leaflet lib and plugin
@Component({
s

[2018-02-01 21:07] tomchavakis commented on #259
You can extend the boundingbox using the pad function.
http://leafletjs.com/reference-1.3.0.html#latlngbounds
At the leaflet-heatmap.js
https://github.com/pa7/heatmap.js/blob/develop/plugins/leaflet-heatmap/leaflet-heatmap.js

ln: 101
Add the following:
bounds = bounds.pad(0.1);

Using this line you are extending the current bounds by 10% and this will fix the rendering issue of zooming and draggi

[2018-02-07 07:21] thomasMary commented on #267
Same here, did you manage to find a solution?

[2018-02-08 08:54] ghost commented on #267
Hello @thomasMary ,

unfortunately not. As far as I know, a security mechanism causes this error in chrome-based browsers. So, unless the author changes the rendering method (e.g. using SVG instead of Canvas), this lib won't work. :(

Best regards

[2018-02-08 09:37] pa7 commented on #267
@CroniD , @thomasMary in order to solve that serve your html file from a HTTP server (instead of file://. file:// causes CORS issues w/ canvas ). Please re-open if that doesn't work for you

[2018-02-08 13:00] ghost commented on #267
Hello @pa7 ,

the example above is loaded via a local HTTP server (see attached screenshot). While it is true that the file protocol has different security mechanism, it's not the reason why it doesn't work. The Chrome Dev team introduce an exception some months ago. Basically if you try to create an canvas and modify it (as the Lib does in https://github.com/pa7/heatmap.js/blob/master/src/rendere

[2018-02-09 05:11] pa7 commented on #267
@CroniD oh that's interesting!
could you try to host heatmap.js on your local webserver? that would help to confirm that it's really not a CORS issue.
Also, do the heatmap.js website demos work for you? ( https://www.patrick-wied.at/static/heatmapjs/example-minimal-config.html )

[2018-02-09 08:40] ghost commented on #267
Hello @pa7 ,

thank you for re-opening the issue.
I tested it and it won't work (loading from local webserver and the demo page). Same error message. :(

BTW: The browser that I use to test is Slimjet (chromium-based). It uses Chromium 63.0.3239.52 at the moment.

Best regards

[2018-02-23 02:49] pavankat opened #281 "Uncaught DOMException: Failed to execute 'getImageData' on 'CanvasRenderingContext2D': The source height is 0."
Running this I get the error:
"Uncaught DOMException: Failed to execute 'getImageData' on 'CanvasRenderingContext2D': The source height is 0."

[code]

[2018-03-02 17:40] StefanFeser commented on #281
Hey @pavankat ,
Just stumpled upon your issue and the reason you get this error is this line:
[code]
There's a CSS error. It should be like this:

[code]

Hope that helps.

[2018-03-04 13:17] goldengalaxy opened #283 "Heatmap.js setData() function not removing the old points"
I am using heatmap.js to draw, but since I need to update heatmaps in the same canvas, so i used

`heatmapInstance.setData({data:[]});
`

to clear the heatmap which has points on it. But this does not work in my occasion, the old points on the canvas are still there after setData function above. I also tested

`heatmapInstance.setData({newDatas});
`then it draws thenew points on top of the old one

[2018-03-20 08:31] boolinlin opened #284 "Failed to execute 'getImageData' on 'CanvasRenderingContext2D'"
Demo:
    https://jsfiddle.net/boolin/8wkh16qj/

Bug:
    Continue to zoom out the map.
    The default map zoom is 13. The bug occurs when the map zoom is 18.

[code]

Why:

 Computed width or height is almost 0.
(https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/getImageData)
  IndexSizeError
    Thrown if either of the width or height arguments are zero.

[code]

[2018-03-28 12:15] HeWasntOffByMuch commented on #283
[code]

You're creating new heatmap instance and a new canvas with generateHeatmap call. To avoid this, keep a reference to the original heatmap object and use **setData** method on it. Keep in mind this will trigger redrawing of the entire canvas, so if variable names imply anything here you'd want to draw each frame with **addData**

[2018-03-28 12:31] HeWasntOffByMuch opened #285 "Data aggregation inconsistency."
So I'm making a heatmap and passing an array of points to it. all of them have value equal to 1.
Each max value of aggregated points is 11 after callling:
`Math.max(...heatmapInstance.getData().data.map((i) => i.value))`

[code]
and, this is unclear now, heatmap looks in one of 2 ways:
[desired look](https://i.imgur.com/sVcuopF.jpg)
[bad render](https://i.imgur.com/uh5uwm2.jpg)

is there anything

[2018-03-28 18:10] ehsan-sotoodeh opened #286 "Disable shadow"
how to remove black shadow around the heatmap area?

[2018-03-29 05:31] dexion commented on #223
![image](https://user-images.githubusercontent.com/177283/38071452-9a4f6908-334b-11e8-820f-44ce7f44ad54.png)
Simplifier bug in two dots (markers). Reproduce with this:

[code]

Crossing 46 and 53 seems like 68 but it should be whole one color like 46 or 53.  With bigest `blur` it is not so obviously. So problem is in algorithm of overlapping figures with opacity.

[2018-04-03 08:28] HeWasntOffByMuch commented on #285
@pa7 Looks like the bad render happens every time **getValueAt** is called before rendering or after 3 successful renders

[2018-04-03 08:47] eluchsinger opened #287 "Is this library still active?"
I see tons of open issues and no reaction. Is this library still being developed?

[2018-04-08 08:33] pa7 commented on #286
can you post a screenshot of what you mean? I don't see a black shadow

[2018-04-08 08:53] pa7 commented on #283
well said @thealmightyone , @goldengalaxy please comment to reopen, I'll close this for now

[2018-04-08 08:53] #283 closed, assigned to nobody

[2018-04-08 19:11] ehsan-sotoodeh commented on #286
![2018-04-08 13_06_49-my map](https://user-images.githubusercontent.com/26613010/38471391-cb294f6e-3b2d-11e8-891b-6a286a0a30bb.png)
There is a black shadow on the borders of heat map that make it looks like it is above the map and not on the map

[2018-04-08 21:42] pa7 commented on #286
which of the plugins are you using to create your heatmap?
The shadow is definitely not added by heatmap.js (or any of the plugins)

[2018-04-08 22:12] ehsan-sotoodeh commented on #286
This version:
https://github.com/pa7/heatmap.js/blob/develop/plugins/leaflet-heatmap/leaflet-heatmap.js

[2018-04-12 17:50] jdk2pq commented on #236
Also wanted to share my solution for this with Angular 5.2.9. It's a mixture of ideas from @yihengli and @aakidatta -- thanks!

1. `npm install leaflet leaflet-heatmap @yaga/leaflet-ng2 --save`
1.
[code]

[2018-04-12 20:38] ehsan-sotoodeh commented on #286
Sorry does anyone have any clue where to look to make that shadow disappear?

[2018-04-16 09:02] paraskashyap commented on #212
i am having same issue . Any idea how to resolve
 ReferenceError: h337 is not defined in this line " this._heatmap = h337.create(this._options);"

Thanks in advance.

Regards,
Paras

[2018-04-16 13:15] pa7 commented on #212
@paraskashyap Is the example page working for you?

If no, are you using a script blocker? apparently `heatmap.js` (the file name) is on some lists that power script blockers (thus preventing it to initialize h337)

[2018-04-17 05:54] paraskashyap commented on #212
@pa7 example page is working fine .I am trying to integrate heatmap with my project and i tried in different system too and the result is same "h337 is not defined".

[2018-04-24 09:50] cqq626 commented on #277
@banduk
use ContainerPoint
https://github.com/pa7/heatmap.js/blob/master/plugins/leaflet-heatmap/leaflet-heatmap.js#L134

[2018-05-02 07:26] prashantmaheshwari94 opened #288 "Input format and integrate with canvas"
Hi,

Can somebody tell me what is the input format of the data and how can integrate it with canvas elements?

[2018-05-03 14:22] hoangsoft90 opened #289 "how i can use with exist my website?"
i want to put heatmap.js to track user mouse interacting with whole my web page. heatmap.js can do?

[2018-05-04 11:48] pa7 commented on #289
heatmap.js is not a mouse tracker, it is a visualization library to draw heatmaps. If you have mouse tracker data and want to visualize it as a heatmap you can do that with heatmap.js

[2018-05-04 11:48] #289 closed, assigned to nobody

[2018-05-04 11:53] pa7 commented on #288
You might want to have a look at the [examples](https://www.patrick-wied.at/static/heatmapjs/examples.html) & [documentation](https://www.patrick-wied.at/static/heatmapjs/docs.html) page

[2018-05-04 11:53] #288 closed, assigned to nobody

[2018-05-08 09:57] jasperfirecai2 commented on #269
Using leaflet-heatmap.js the following snippet works just fine:
[code]

Your question isn't very specific, so if this is not what you're looking for, could you please specify?

[2018-05-08 10:15] jasperfirecai2 opened #290 "leaflet-heatmap.js cannot handle dynamic configurations"
## Main issue

The base heatmap.js configure() and repaint methods() don't exist in the leaflet plugin, making it impossible to (for example) dynamically change the radius.

### my heatmap:
[code]
#### `radius: radius` refers to an external variable that is changed in this function:
[code]

## What I've tried:

- redefining heat as a new heatmap
- removing and re-adding the layer
- the configure()

[2018-05-08 10:32] jasperfirecai2 commented on #76
I personally don't seem to have this issue. this is what defines my `data` (it's slightly more complicated than what you need but nonetheless this works):
[code]
Most relevant line:
[code]
followed by
[code]
I can even draw data on in case you'd like to test that:
[code]
(where `draw` is determined by a button)

[2018-05-09 09:34] jasperfirecai2 commented on #290
## I seem to found how to do it now.
#### The solution lies in these lines:
https://github.com/pa7/heatmap.js/blob/4e64f5ae5754c84fea363f0fcf24bea4795405ff/plugins/leaflet-heatmap/leaflet-heatmap.js#L174-L176
If the option Radius is **NOT** set and is instead part of the data object as a property, you can dynamically adjust the radius. Since `entry` is just a singular object, `entry.radius` can ei

[2018-05-09 09:34] #290 closed, assigned to nobody

[2018-05-09 09:44] jasperfirecai2 commented on #287
last edit was 2 years ago. so probably not

[2018-05-09 09:46] jasperfirecai2 commented on #272
https://www.patrick-wied.at/static/heatmapjs/plugins.html

[2018-05-09 10:04] jasperfirecai2 opened #291 "Setting scaleradius to true gives HUGE radius"
## Main issue
Using leaflet-heatmap.js setting scaleRadius to false works as intended, but setting it to true has the radius value in my object be measured in roughly hundreds of kilometers. this is a bit excessive?
### Elaboration
To clarify what i mean with that: Say, i have a radius property in the object at a value of 100. I would like it to display 100 metres as a radius. I can do this manual

[2018-05-09 10:11] jasperfirecai2 commented on #291
This is the offender, but I'm still not sure why this creates such huge values
https://github.com/pa7/heatmap.js/blob/4e64f5ae5754c84fea363f0fcf24bea4795405ff/plugins/leaflet-heatmap/leaflet-heatmap.js#L103-L114

[2018-05-09 11:51] rpdiss commented on #279
@assaad https://gist.github.com/rpdiss/5e63816e30a1fb0ec252be0fcceb6078 np star it if helped!

[2018-05-09 11:52] rpdiss commented on #236
This works well 🗡
https://gist.github.com/rpdiss/5e63816e30a1fb0ec252be0fcceb6078

[2018-05-10 09:28] minlare commented on #201
@axwalker Your solution - rounding to integers didn't seem to work for me. Solution I came up with (ugly but force fixes the issue) was to simply overwrite the `setDataMax` function.

[code]

[2018-05-14 07:53] jasperfirecai2 commented on #286
Maybe part of your defined gradient has a dark and transparent color near the edge?

[2018-05-14 07:57] jasperfirecai2 commented on #291
Thispull reqeust is related but doesn't solve the "issue" #273

[2018-05-14 08:28] jasperfirecai2 commented on #284
This error is thrown when a datapoint is too small to render on the zoom level (scaleradius must be set to true for it). Don't close this issue, because it is a bug, but your heatmap itself should still work fine.

[2018-05-14 16:12] ehsan-sotoodeh opened #292 "colors out of boundaries"
The heatmap shows colors on the edges of the map where there is no data. How can I stop that?

![2018-05-14 10_11_37-my map](https://user-images.githubusercontent.com/26613010/40009445-3fd58e2a-575f-11e8-8104-5709d85e877a.png)

[2018-05-14 16:12] #286 closed, assigned to nobody

[2018-05-15 15:51] ehsan-sotoodeh commented on #292
Any suggestions?

[2018-05-15 21:47] ehsan-sotoodeh opened #293 "Wrong colors at the edges of the screen"
At the edge of the screen, It shows a color that can not be true. for example, in blow screenshots, edges of the screen are blue but when we zoom out we see that it should be yellow.

![2018-05-15 15_40_39-my map](https://user-images.githubusercontent.com/26613010/40085261-171fe612-5857-11e8-9d45-1bed8f08d150.png)

![2018-05-15 15_41_04-my map](https://user-images.githubusercontent.com/26613010/40

[2018-05-16 08:31] jasperfirecai2 commented on #292
Decrease your radius or change your gradient. a heatmap "point" has a pretty large radius.

[2018-05-16 08:33] jasperfirecai2 commented on #293
Do you have `useLocalExtrema` set to true? this makes it compare data based on what on the screen right now which affects the color of spots

[2018-05-21 21:57] ehsan-sotoodeh commented on #293
It's already false.

[2018-05-22 07:48] ehsan-sotoodeh commented on #292
Thanks

[2018-05-22 13:10] jasperfirecai2 commented on #293
it's possibly because datapoints get unloaded if their **center** is out of view, which can cause the data at high zoom levels to not include points out of view. I have the same "issue" but it's intended behaviour. if you need it to be accurate you're gonna need more data.

[2018-05-22 16:19] ehsan-sotoodeh commented on #293
Thanks @jasperfirecai2.  I have a value for each half degree. In the images given above, there are hundreds of data points and I still get blue edges.
you can check it here: http://gwf-demo.usask.ca/fifthversion/

[2018-05-23 22:08] jasperfirecai2 commented on #293
right. i know what the problem is, i just don't know how to solve it. when points overlap, their heatmap "value" increases, at the edges, there's less overlap happening because off-screen points don't get loaded at all. concentration doesn't really make a difference here. this is a tough one to solve.

[2018-06-07 12:53] Woracheth commented on #291
I thought the unit is in pixel, not in km.

{radius:1, scaleRadius:true} means
1 pixel radius (2 pixel diameter) at zoom level 1
64 pixel radius (128 pixel diameter) at zoom level 7
2048 pixel radius (4096 pixel diameter) at zoom level 12

[2018-06-07 13:14] Woracheth commented on #293
You might try removing this code from gmaps-heatmap.js in plugins
[code]
If it works, the bounds variable is Google Maps LatLngBounds class. You might have to expand the bound.

[2018-07-02 07:41] Louisepower commented on #218
@pa7 Hi Patrick
I encountered an error “h337 is not defined” when I use the heatmap.js . It works well in my  other website before. Could you pls tell me what happened . many thanks!!!!

[2018-07-03 19:36] PedroD commented on #186
@pa7 @juliojgarciaperez was this issue resolved?

I am using the latest version and points still sum instead of average.

[2018-07-04 09:39] yangmeiz opened #294 "使用heatmap 添加背景图片， 把图片 画到canvas中"
使用heatmap 添加背景图片，  把图片 画到canvas中

[2018-07-09 18:24] ehsan-sotoodeh opened #295 "Areas with wrong value"
![2018-07-09 12_13_59-my map](https://user-images.githubusercontent.com/26613010/42468625-b257b6a0-8372-11e8-966b-2c931907031f.png)
I'm using this heatmap to show values between 0 -1, but in the photo shown above, the areas where I marked, even though the value is zero(minimum value ), but it shows those areas as areas with high value.

[2018-07-11 05:48] pa7 commented on #295
hey @ehsan99999 , how does the data that you're passing in look like? Are the values integers that represent the data range you'd like to visualize?

[2018-07-11 06:25] ehsan-sotoodeh commented on #295
Hi, they are float numbers between 0- 1

[2018-07-16 10:25] ErikaHD opened #296 "React"
Hi Patrick,
I have used your library using vanilla Javascript and I love it.

I am trying to use react atm to improve the performance of the application.
Please, could you let me know if there is an example on how to use your plugin with react and leaflet.

Thank you for your help.

[2018-07-20 11:51] ErikaHD commented on #186
@pa7
Hi Patrick, thank you for this beautiful library.
I am having the same issue when using the leaflet plugin. I am wondering if this issue has been solved.
I tried @woracheth solution/version but the problem persists. I would appreciate any help in this matter.

Thank you.

This is how the heat map looks:

![screen shot 2018-07-20 at 13 02 51](https://user-images.githubusercontent.com/35573543/

[2018-07-20 12:40] waqaransari opened #297 "Heatmap load time issue"
I have used heatmap in my project. I am facing some issue on it, i have the user activity over 15 to 20 min the is to big therefore the heatmap load time increases how to resolve it please help me.

[2018-07-20 21:11] pa7 commented on #297
@waqaransari do you mean the time to download the data, or the time to render the heatmap? ( after calling `setData`)

[2018-07-21 09:31] waqaransari commented on #297
when i doing addData, it 's render too slow and take lot of time to show heatmap because the data is too much big. how to do it fast any solution do you have?

[2018-07-21 20:57] pa7 commented on #297
1) **use setData instead of addData**. addData will add the datapoints one by one and invalidates the dataset whenever it finds a new min/max
2) **put the heatmap calculations & rendering off the main thread** so it doesn't lock up your UI (there are better ways to do that, but one way would be to wrap the setData call in a setTimeout, ie
[code]

[2018-07-23 08:37] waqaransari commented on #297
thank you for your support wied, Can you please tell me, Can i save the heatmap data into database and can i decode and encode data with this library if possible please send me solution.

And how to encode or decode data and which format.
is there any fast way to insert or retrieve data from database?

Regards & Thanks,
Waqar Ansari.

[2018-07-23 08:38] waqaransari commented on #297
is there any fast way to insert or retrieve data from database.

[2018-08-13 09:14] cbbaaa1989 opened #298 "shadowCtx.getImageData() return all zero."
Hi there,
i render my data alpha in the _drawAlpha() function,and then in the _colorize()  function ,i print
var img = this.shadowCtx.getImageData(x, y, width, height) in the console, but i find the img.data is all 0.
I am confused and i don't know how to slove this problem,can you help me?
At last,thank you for your lib

[2018-08-14 02:31] cbbaaa1989 commented on #298
upgrade chrome browser and problem is sloved.

[2018-08-14 02:31] #298 closed, assigned to nobody

[2018-08-21 10:35] JAEarly opened #299 "Google Maps Plugin loses point values if valueField not set in config"
If the valueField parameter is not set in the config, the documentation specifies that valueField parameter should fall back to 'value'. However, the values are at some point through the plugin. I have created a fix so will make a pull request shortly.

[2018-09-11 13:01] NikitaDzhigir opened #301 "dynamic change of gradient in leaflet"
How can i change gradient dynamically (e.g. onZoom) in heatmap with leaflet? I tried to change gradient property in config (cfg.gradient = gradient), but it didn't work

[2018-09-13 09:38] benshimmin commented on #206
Just wanted to second @quietsnowyday's solution here for updating the radius from `configure` - works really well, thank you!

If you're having a similar problem with the blur not being updated, I found the easiest solution was:

[code]

(inside the `_drawAlpha` function; essentially it's caching the template based only on the radius, not on the blur as well).  There's a pull request for something

[2018-09-21 10:42] nik-el commented on #216
Hello!
i install heatmap from npm
`npm i leaflet-heatmap`
and had same problem
`HeatMapOverlay is not defined`

I use Vue.js and for fix just use correct name in import.
`import HeatmapOverlay from 'leaflet-heatmap/leaflet-heatmap.js`
maybe it will be useful for someone

[2018-09-26 20:17] LoganDupont commented on #96
Any update on this issue @pa7

[2018-09-27 15:39] Ants-double commented on #218
i also meet the error .I encountered an error “h337 is not defined” when I use the heatmap.js . It works well in my other website before. Could you pls tell me what happened . many thanks!!!! can you help me

[2018-10-04 08:55] DianaElenaIrimie opened #302 "Heatmap tooltip not showing correct data"
I am using the code from the Legend & Tooltip example https://www.patrick-wied.at/static/heatmapjs/example-legend-tooltip.html.
My data is looking like this:
data = [
             { x: 317, y: 100, value: 438, radius: 15 },
             { x: 317, y: 195, value: 34367, radius: 30 }];
heatmap.setData({ min: 0, max: 34367, data: data });

When I am trying to see the value of the first point I am gett

[2018-10-23 03:57] Yinkci opened #303 "Nothing is showing on leaflet heatmap example"
http://prntscr.com/l99mi9

[2018-11-04 20:27] sepatin commented on #186
Same issue for me because same needs to display average values.
@pa7 : did you find a solution for it ?
Thanks

[2018-11-04 21:06] sepatin commented on #186
Using gmaps plugin, "maxIntensity" does the job according to google.
I tried and it seems to. Let me know if i'm wrong.
Thanks

[2018-11-07 05:49] mmmaomao21 opened #304 "bug of setdata's data"
v 2.0.5  use in react
[code]

if setdata(data)  can not show the correct heat.

[code]

but if one of the data's x or y is integer,then it can show

why????????

[2018-11-22 14:55] wrb233 commented on #294
我想做的是一个室内平面热力图，红的地方代表有手机，越红代表这个位置手机个数越多，类似一个人流密度统计，卡住了，不会了，heatmap.js能解决吗？？？

[2018-12-05 06:02] luo-geng commented on #127
@caidaorui now,have you found the way heatmap used in cesium?

[2018-12-06 05:36] thegothamstak opened #305 "On using html2canvas to capture the container on which heatmap is appended"
I am using htm2canvas library to screenshot the container on which heatmap is appended to further download it as an image (heatmap). However the downloaded image or the screenshot is not taking the appended heatmap. It is only taking the container even if the container at display is showing the heatmap.

[2018-12-14 20:27] cdebadri commented on #216
ok. i have solved it.
If anyone needs any help setting it up on electron can refer this.
  install leaflet and leaflet-heatmap via npm and then place these two lines in the beginning.
`var L = require('leaflet');`
`var HeatmapOverlay = require('leaflet-heatmap');`

[2018-12-15 02:43] junzaivip commented on #218
The same issue for me...can you help me

[2018-12-15 02:50] Ants-double commented on #218
I run the jsfile in the electron ,then, i allow the electron can run the jsfile ,it's ok

[2019-01-18 13:18] Khyme commented on #216
In case it helps anyone, I had the same problem. I had used leaflet-heatmap (a heatmap.js plugin, note) without problem with Vue.Js. That project ran on npm so only had to install the plugin with

`npm install leaflet-heatmap`

Which took care of importing heatmap.js itself. And then simply import it in a .vue file with :

`import HeatmapOverlay from 'leaflet-heatmap'`

Since I used that plugin wi

[2019-02-14 05:38] ngunhaSO opened #306 "Calculate the area that the heatmap occupy?"
Is it possible to calculate the area that the heatmap occupy?
Also, the radius value, what is the measurement unit, is it pixel?

[2019-02-14 13:39] SerhanBent commented on #306
Area can be easily calculated by using the lat ,lng information of the related locations.

[2019-02-15 01:47] ngunhaSO commented on #306
@SerhanBent Do you know what the measurement unit the 'radius' use in the configuration?

[2019-02-15 08:19] SerhanBent commented on #306
It is pixels, yes but as you can easily understand you should multiply its value by 2 to get the exact pixel value of  its diameter. (2r) For example when you assign 10 for the radius. Its width will be 20 pixels.

[2019-02-27 14:30] gaurak opened #307 "heatmap.js not working in React"
I am passing my root element (div) as container. I am not getting any error in my console still heatmap.js not working.

[2019-03-15 03:48] giserMao commented on #284
Same here。

[2019-03-15 03:51] giserMao commented on #284
@boolinlin ，Have you solved this problem yet?

[2019-04-24 15:03] selvex commented on #290
For people looking for an answer on how to dynamically edit the configuration when using the leaflet plugin:

In `leaflet-heatmap.js` you can add the function
[code]
The config object of course has to follow the format defined in the docs.
This dynamically updates the heatmap for `radius`, `scaleRadius` and `maxOpacity`. I assume the other settings work fine as well.

Tried a lot of stuff and this

[2019-04-29 23:13] FGButterLettuce opened #308 "gmaps-heatmap not working with ionic"
Trying to test the heatmap functionality but its not working.
Error thrown is `gmaps-heatmap.js:36 Uncaught TypeError: gmaps.OverlayView is not a constructor`

Heres the code, I'm probably doing something really dumb but please let me know as my project relies on this functionality. Its using Ionic 4 & Angular 7. Anyone with any advice do let me know.

[code]
heres the github as well https://githu

[2019-05-05 05:38] MonMohon commented on #261
@ahmed-al-bermawy
I exactly have the same problem
have you got the solution? if yes please let me know how you config?

Thank You

[2019-05-13 11:03] newyoung21 commented on #256
@pa7 Hello, is this plug-in implemented?

[2019-05-29 09:26] Akash91 commented on #281
This issue can be marked as closed/done, since it is a typo mistake from what I understand.

[2019-06-03 11:00] rob137 commented on #212
Same issue here on Chrome, Firefox, Brave - all with extensions disabled.

[2019-06-21 17:41] jasperfirecai2 commented on #291
That makes sense, i can't believe i missed that when i wrote this

[2019-06-21 17:41] #291 closed, assigned to nobody

[2019-07-25 12:31] shinnobi commented on #290
can you provide me a bit of code, i try add reconfigure in leaflet-heatmap.js and in my js code:
        map.on("zoomend",function(){
            var zoom = map.getZoom()
             var cfg = {
             "radius": zoom
           }
           heatmapLayer.reconfigure(cfg)

but it is not work

[2019-08-02 10:14] alexgogoing opened #309 "showing unexpected grid lines with 200'000+ points"
when i use heatmapjs render 200 000+ points, unexpected grid line shows.
![image](https://user-images.githubusercontent.com/30588385/62363106-0e652980-b551-11e9-98b6-36d0866a8874.png)
that's my config:
![image](https://user-images.githubusercontent.com/30588385/62363126-2177f980-b551-11e9-9730-021b2e05a49a.png)

will nice to get ur feedback!  please~~~~!

[2019-08-02 10:14] alexgogoing commented on #309
how could i remove these grid lines?

[2019-08-04 12:49] alexgogoing commented on #309
that's dataset's problem, not an issue.

[2019-08-04 12:49] #309 closed, assigned to nobody

[2019-08-05 16:13] tristanheilman commented on #284
I am running into this issue when I move the code that creates my BWIPJS object into its own function, passing the label, DOM element, barcodeType, opts, etc into this function. Everything works perfectly if I leave this section of code inside a forEach loop. As soon as I abstract it and pass parameters this error gets returned.

[2019-08-06 12:15] selvex commented on #290
@shinnobi Sure.

In my work I have an `updateHeatmap` function which gets called everytime the heatmap is updated. So basically if the settings change, I call reconfigure. You can find this here:
https://github.com/selvex/flee-vis/blob/4728063ddd82602538356bc9bdb700658737920b/visualization/public/assets/js/controller/flee-vis-controller.js#L243
[code]

The `reconfigure` function is registered in `

[2019-08-07 09:33] zbldsg opened #310 "backgroundColor properties setting invalid"
I try setting '0xFFFFFF'  '#FFFFFF' and ‘rgba(255,255,255,1)’
All invalid

![7Y7L3 VL _ E8NRMFR@D$Y](https://user-images.githubusercontent.com/24469929/62612103-675e0480-b939-11e9-987f-f9bc7356aed0.png)

[2019-08-08 12:14] njifares commented on #219
I'm facing the same issue using heatmapjs in my Angular application.

[2019-08-16 18:51] zephon82 commented on #216
I made my own d.ts files and finally it seams to work. I used:
npm install heatmap.js
npm install leaflet-heatmap

my first d.ts file start with "declare module 'heatmap.js'" and export the functions/classes/interfaces of heatmap.js (basically https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/heatmap.js/index.d.ts but you stop at line 350)

my second d.ts file:

declare module '

[2019-09-06 13:46] pkeller3 commented on #302
Not sure if you ever figured this out, but I found a bug in the library recently related to this. X and Y are swapped when accessing the data here: https://github.com/pa7/heatmap.js/blob/master/src/data.js#L195

[2019-09-18 21:27] youngclaude commented on #277
Hey I think the answer was this: shadowCtx._heatmap.getImageData({ x: x, y: y});

[2019-10-08 03:26] ghost commented on #284
Have you solved this problem yet?

[2019-10-15 01:35] #269 closed, assigned to nobody

[2019-10-20 10:51] ahmad-barutchi commented on #216
After hours of searching,
Disactivate your adBlock -_-

[2019-11-01 21:00] smoghal commented on #307
I have added a [react implementation](https://github.com/smoghal/react-heatmap).

[2019-11-01 21:01] smoghal commented on #304
I have added a [react implementation](https://github.com/smoghal/react-heatmap).

[2019-11-01 21:01] smoghal commented on #296
Sorry it's a tad bit late.  I had a need to use this library in react earlier this year.  So I added a [react implementation](https://github.com/smoghal/react-heatmap).  Take a look.

[2019-11-01 21:02] smoghal commented on #279
I had a need to use this library in react earlier this year.  So I added a [react implementation](https://github.com/smoghal/react-heatmap).  Have a look.

[2019-11-01 21:04] smoghal commented on #227
I ended up wrapping your library @pa7 in a react component.  It works quite nicely.  I'm more than happy to contribute it back to your repo or you can add a reference to mine.  Here's the [react implementation](https://github.com/smoghal/react-heatmap).

[2019-11-03 18:44] auveele commented on #217
Is it possible to do this now?
I would like to show the heatmap inside a mask, but the example doesn't work for me

[2019-11-07 13:15] ivangermanov commented on #96
Any update?

[2019-11-20 07:28] Akio1986 opened #311 "readme-edits"

[2019-11-20 07:29] #311 closed, assigned to nobody

[2019-11-28 16:51] tokenflow commented on #141
I know it is too late, have you tried

`heatMap.setData({data:[]});`

[2020-01-09 05:11] eliorar opened #314 "ImageData data assignment in Strict Mode"
`img.data = imgData // this line is not working in strict mode (line 527 heatmap.js);`
`this.ctx.putImageData(img, x, y);`
`this._renderBoundaries = [1000, 1000, 0, 0];`
the error is as follows:
`TypeError: Cannot assign to read only property 'data' of #<ImageData>`

Possible solution:
according to documentation:
https://developer.mozilla.org/en-US/docs/Web/API/ImageData
you should use only putIma

[2020-01-29 19:02] raycrummey commented on #314
fixed in Pull Request #315.  img.data is being mutated by changes to imgData.

[2020-03-03 15:02] jefferu opened #317 "heatmap.js must be loaded before the leaflet heatmap plugin"
Hi, im trying to load the heatmap.js script but it simply won't.

below you can see the actual order in my code of leaflet.js, heatmap.js and leaflet-heatmap.js.

[code]
    <script src="{% static 'js/heatmap.js' %}"></script>
    <script src="{% static 'js/leaflet-heatmap.js' %}"></script>

It says "failed to load <script> source "http://localhost:8000/static/js/heatmap.js"."

Clicking on "http:/

[2020-03-04 18:22] #317 closed, assigned to nobody

[2020-03-05 08:58] MrTob commented on #186
Is there any solution yet. In our projet we also need this feature

[2020-03-06 22:28] brienna opened #318 "Question: Clip boundaries of heatmap according to another feature"
Here is a heatmap using heatmap.js and the leaflet-heatmap.js plugin with hot spots that extend beyond the basemap boundaries:

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/f3jAH.png

How would someone clip this? In QGIS or ArcMap you would follow a certain workflow, but as far as I know this is not available in Leaflet.

We can set a GeoJSON layer of just the Georgia

[2020-03-07 16:40] Woracheth commented on #186
Hi @MrTob ,

For my version #90. I had [commented](https://github.com/pa7/heatmap.js/pull/90#issuecomment-395402990) else where. In summary, it is near impossible to do true averaging, due to HTML5 canvas technique would limit operations to do within unsigned byte integer as the RGB color would be in the range 0-255. My thought to do workaround on buffer limitation, it might be dumping canvas buff

[2020-03-15 13:02] derldalfor100 opened #319 "ImageData data assignment in Strict Mode 2.0.5"
Hi, I've encountered the issue in the newest version.

I know you fixed that, but not in the newest version.

Look at: heatmap.js/src/renderer/canvas2d.js.

img.data = imgData; // redundant

[2020-03-18 02:28] JeffJway opened #320 "Heatmap layer manipulation"
Hi,

I may be missing the section in the documentation on these, but i am having a few problems and can't find out where to look for the answers.

First, after creating a instance of the heatmap
[code]
One, later, calling
`map.removeLayer(heatmapLayer);
`
does nothing at all. No errors, but the heatmaps are still there in the map. I want to hide the layer so the user can view the map without the h

[2020-03-18 05:24] brienna commented on #318
Found a [workaround](https://gis.stackexchange.com/questions/353250/clip-boundaries-of-heatmap-according-to-another-feature).

[2020-03-18 05:25] #318 closed, assigned to nobody

[2020-04-21 08:58] tholu commented on #287
@pa7 Hey Patrick, can you give us a status update? Are you looking for a maintainer? The library looks very neat and it would be great to keep it up to date.

[2020-06-15 11:38] Pankajdrync opened #322 "How can I show tooltip ?"
Hello,

I used this library for create a heatmap. it works like charm. Now I want to show tooltip on hover, But I am not getting any idea how to do that. I tried but not able to find any success. Please find the code that I am using. If you help me to solve this that would great sir.
`(function ($, Drupal) {

window.onload = function() {

        var testData = {
          max: 8,
          data:

[2020-06-30 08:50] shmilyoo commented on #219
facing same issue , react rollup babel

[2020-07-03 07:56] TarasGrynik opened #323 "How to show heatmap under text content ?"

[2020-07-05 19:03] skuzzymiglet commented on #323
Please describe the issue you're facing, don't ask questions without descriptions on a repo. Read the docs, google it, maybe even ask on StackOverflow

[2020-07-06 04:23] subtext916 commented on #219
The fork shared by jakob-e works for me too. I'm using rollup to bundle everything. This has been open for some time. That fork is not on npm. What should be done next?

[2020-07-16 23:09] ascandal commented on #219
The fork shared by jakob-e is behind master by 12 commits.

[2020-07-21 10:01] DrPDash commented on #290
Hi @selvex , thanks for your tip above but it is not required to modify / or add to the original heatmap.js code.

You can still access the update from outside (using private methods, which is also not a good practice but is safer than changing the original code without a version update).

Below is the code that will do the trick:
[code]
Hope this helps others as well.

[2020-07-22 06:33] DrPDash commented on #165
Hi @aliosv, was this ever resolved? I'm still facing this issue after ~4 years! Just started using heatmap+LL recently. No matter what I reset, the blur won't update unless the radius is changed!

[2020-07-22 06:53] DrPDash commented on #206
Thanks -- hours of searching, writing on the git page, nothing helped until I saw this. Updating the blur (radius, opacity were ok) change was a headache and this was the Tylenol !

[2020-08-13 16:11] luacy200820 opened #324 "Circle is not smooth"
<img width="116" alt="擷取" src="https://user-images.githubusercontent.com/65431754/90158492-a121e080-ddc1-11ea-8e65-695ed781e406.PNG">

As in the picture, the periphery of the origin is not smooth. If I use `absolute: false` is normal, but I need to use `absolute: true`.
How can I solve it?
Other parameters:

[code]

[2020-08-19 03:37] themacboy opened #325 "Heatmap-leaflet not sure is working? ..."
Good morning,

I am looking at all the examples in order to make an accident map of my city, but there's no way to show the heatmap in my leaflet  map (last version).

For some reason I create the HeatmapOverlay, set all parameters, load all data, but nothing is showed.

I don't see any reason for that behavior then I like to know if that plug-in is still working.

CODE (basic implementation code)

[2020-08-22 17:26] hygison commented on #297
If I store only the points in the database, and then bring back(We can do that fast with php, For me takes me less than 2 seconds to bring 100000 points inside the array).
I would like to know how do I set all those points using the setData(). I am having problems with the max for the most red color, because I only store points, the values for all points are basically the same. How can I calculate

[2020-08-26 12:22] ghost opened #326 "Relative coordinates depending on screen size"
hello everyone
Im writting a program to implement an heatmap for analysing a website. I getting coordinates for differents users using different screen size. I am getting coordinates from different screen size for the same clicked element( for example a click coordinate on the same button in 1600 x 800  and on 800 x 400).

When I printed the result using my coordinates the two "same" clikc are not

[2020-09-01 01:19] Minyeol-Lee opened #327 "I have a small question about calculating the image rgb value."
First of all, thank you so much for making such a good library. I'm using it really well.

So..
I'm trying to analyze the heatmap algorithm.
and I have a few questions when drawing heatmap images.

like the image below
i wonder how to calculate the rgb value in this case!

I would be very grateful if you could answer me.
thanks.

![question](https://user-images.githubusercontent.com/70552548/91783

[2020-09-07 10:22] LoganDupont opened #328 "ECMAScript module (ESM) bundle support"
Currently using heatmap.js in an Angular version 10+ application gives the following build warning:
[code]

Starting with Angular 10 the Angular CLI now provide warnings for CommonJS modules. Read more about it here:
https://blog.angular.io/version-10-of-angular-now-available-78960babd41

And here:
https://angular.io/guide/build#configuring-commonjs-dependencies

Is it possible to add ESM support?

[2020-09-07 17:05] helenawang commented on #327
Hi, I'm also curious about how to calculate the colors, especially the overlap part.

After checking the code of heatmap.js and APIs of canvas, I think the calculation of colors is handled by the [composite operation of canvas](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/globalCompositeOperation) instead of heatmap.js itself, and the details are hidden from us.
Howeve

[2020-09-08 06:07] phuong1492 opened #329 "Heatmap load time on long page"
I have used heatmap in my project.
My page so long (about 20000px), i want show heatmap on this page screenshot but
takes too long time to render the heatmap.
How to resolve it.

[2020-09-11 13:48] #326 closed, assigned to nobody

[2020-09-28 10:26] LukaSeTrudi commented on #212
I had the same issue. The problem was that i was not importing heatmap correctly...
I was using `import { h337 } from 'heatmap.js';`

The correct import was `import h337 from 'heatmap.js';`

[2020-10-07 04:48] nirajmah4023 commented on #108
Still facing same issue withFF and heatmap.js

[2020-11-05 04:11] Young6118 commented on #301
This is my solution
[code]

[2020-11-05 04:14] Young6118 commented on #294
可以解决的 @wrb233
`  import L from 'leaflet';
`
`  import InitHeatMap from 'leaflet-heatmap';
`
`  import map from './minimap.jpg';
`
`const baseLayer = L.imageOverlay(this.map, bounds, {
        zIndex: -1
      });`
`      this.heatmapLayer = new InitHeatMap({
        latField: 'z',
        lngField: 'x',
        valueField: 'num',
        blur: this.mapOpt.blur,
        radius: this.mapOpt.radius,

[2020-12-01 20:40] jesuino opened #330 "'TypeError: offset required' when using Heatmap.js with local tests"
Using latest heatmap.js with Canvas in a jest test leads to errors. It fails with:

[code]

This is the line that throws the error:

https://github.com/pa7/heatmap.js/blob/master/src/renderer/canvas2d.js#L14

The reason is explained here:

https://stackoverflow.com/questions/62332852/how-to-create-gradient-text-in-canvas-nodejs

And you can see that in the node js canvas there's indeed a type chec

[2020-12-21 05:23] githubdrop commented on #256
Is this implemented

[2021-01-28 03:43] ilexwg commented on #87
I think 'e' is '3', but why 'a' is also '3'?

[2021-03-18 15:23] MrMohamedAbdallah commented on #256
Any updates?

[2021-03-22 12:25] czkaa opened #333 "Blur disappears after seconds"
Hey everyone,

I tested heatmap.js on mousemove both with the example from the repo and with those given on the website. Both produce the same issue: The heatmap looks fine for a split second but then changes into this:
<img width="1293" alt="Bildschirmfoto 2021-03-22 um 13 10 47" src="https://user-images.githubusercontent.com/48649509/111989387-f9685000-8b11-11eb-9696-7c70e3e827ff.png">

It seems

[2021-03-29 05:31] gthdweb opened #334 "如何清空渲染的数据"
怎么清空已经渲染的数据，我看remaveData方法是空的

[2021-04-23 10:11] stefan-theusner commented on #219
Is there any progress on this one?
The fix [removed img.data replacement due to the following issue](https://github.com/ionata/heatmap.js/commit/1452fc74fb3442f5f74b43394fddd06057fc387b) seem to do the trick. We tested this in our environment (Angular 8)

Thanks

[2021-05-04 15:35] Khalilw1 commented on #330
I came up against the same issue too while testing using jest on my vue project hopefully your PR gets quickly merged

EDIT: Just realized this is from December well let us not lose hope

[2021-06-03 17:09] Andrezinho790 opened #335 "Make datapoint disapear after some time?"
It is possible to make the datapoint have a "lifetime" ? And after this time it disapear?

[2021-06-08 01:30] Julycc41 opened #336 "TypeError: Failed to execute 'getComputedStyle' on 'Window': parameter 1 is not of type 'Element"
Report an error when using the example

[2021-06-21 18:37] jcn-ithaca commented on #293
Seems like the "render bounds" should be larger than the "view bounds" with a margin that is equal to the radius, so that all points whose radii overlap the view get rendered

[2021-06-21 18:46] jcn-ithaca opened #337 "All points whose radii overlap the view should be rendered"
Currently only points whose centers are in view are rendered, causing (sometimes very large) circles to pop in and out of existence at view edges as you pan.
All points whose radii overlap the view should be rendered. This would create a more seamless experience when panning.
In the below screenshots, scrolling to left by a small amount causes one of the gradient circles to vanish.
<img width="462

[2021-06-23 10:47] Julycc41 opened #338 "Loaded longitude and latitude"
Now I have a problem，My data is a bunch of latitude and longitude, how do I convert them into data that can be loaded into a heat map?I need to show it on cesium

[2021-06-28 06:46] Duoquote commented on #227
A while ago react-leaflet released v3 of react-leaflet, would like to see this plugin implementation in react-leaflet v3 too. The new api is completely different.

[2021-07-02 17:42] StephenOTT commented on #328
+1

[2021-07-07 14:51] Cristy94 commented on #219
Any suggestions on how to include this fix from package.json (eg. load the library from that fork) ?

EDIT: This seems to work: `"heatmap.js": "https://github.com/ionata/heatmap.js.git"` instead of `"heatmap.js": "^2.0.5"`

[2021-07-09 19:47] jcn-ithaca commented on #254
This issue is biting me here in 2021.

[2021-07-22 04:11] AlfaRojo commented on #284
2021 and no solved... Im just getting this error on my QR Scanner, but I cant find anything

[2021-08-08 21:09] UweKrause commented on #293
I know that this repository is not active, but for future reference I want to add an answer. Maybe it helps someone.

I made the same observation: Data points out of view are ignored (as intended).
But when they are just a little bit out of view, they should still have an influence to the heatmap.

I found a solution from user `ghybs` on stackoverflow:
https://stackoverflow.com/questions/34613289/

[2021-08-13 07:47] linghaozhang opened #340 "setData bug"
v 2.0.5 use in react
`{"max":99,"data":[{"x":100,"y":200,"vaule":74},{"x":200,"y":200,"vaule":63},{"x":300,"y":200,"vaule":99},{"x":400,"y":200,"vaule":85}]}`
if setData(data) can`t render successfuly
but if use random data,it can show
`{"max":99,"data":[{"x":288,"y":95,"value":85},{"x":638,"y":46,"value":37},{"x":440,"y":158,"value":17},{"x":765,"y":79,"value":50}]}`
why?

[2021-08-25 05:59] rahulrelicx commented on #256
@pa7 any update on this?

[2021-08-26 07:17] frkijh commented on #334
![image](https://user-images.githubusercontent.com/59047022/130918545-783bf1dc-560b-490b-8ab2-9eab7047cdbf.png)
![image](https://user-images.githubusercontent.com/59047022/130918616-753eb575-7633-45ec-a072-e5db0da309fc.png)

[2021-08-26 07:18] frkijh commented on #334
![GIF 2021-8-26 15-18-08](https://user-images.githubusercontent.com/59047022/130918770-19a37c48-79bf-40d1-b058-b96bc5f92a38.gif)

[2021-08-27 03:06] frkijh commented on #304
it must be number, you can use toFixed(0) to solve this problem

[2021-09-10 07:43] SPL724 commented on #284
I tried to report no error after zoom: 6

[2021-09-16 10:22] fm64hylian opened #342 "I issued this by mistake, please remove it."

[2021-09-17 05:10] #342 closed, assigned to nobody

[2021-12-06 08:12] xgqfrms commented on #219
# heatmap.js version / usage bug

1. import errors ❌

[code]

[code]

2. window.h337 ok ✅

[code]

[2021-12-06 08:12] xgqfrms commented on #219
https://stackoverflow.com/questions/11098419/imagedata-data-assignment-in-strict-mode

[2021-12-13 09:10] fox19920726 commented on #334
https://github.com/pa7/heatmap.js/issues/219，这个问题你们都没遇到吗！！

[2021-12-22 17:02] stellamarkop commented on #326
Hello! Have you found a solution to this? I'm facing the same issue

[2021-12-22 18:43] ridweng commented on #219
#344 pull request.
Should be fixing this issue.

[2022-01-13 01:55] eason674 commented on #338
我也是我也是，请问大佬解决了吗？

[2022-01-19 01:51] Julycc41 commented on #338
当时比较着急，我就没有再研究了，现在我用的是高德加载的热力图

[2022-01-27 18:15] JTier commented on #330
I don't suppose anybody has a fork with this change in it?

[2022-01-30 06:28] muyao1987 commented on #340
You can use this bug-fixed version：npm install @mars3d/heatmap.js

Corresponding source address： https://github.com/muyao1987/heatmap.js

# mars3d update
- fix: An error "Cannot assign to read only property 'data' of object '#'"
- add: Added support for typescript in index.d.ts
- The NPM package was released @mars3d/heatmap.js

[2022-01-30 06:29] muyao1987 commented on #328
You can use this bug-fixed version：npm install @mars3d/heatmap.js

Corresponding source address： https://github.com/muyao1987/heatmap.js

# mars3d update
- fix: An error "Cannot assign to read only property 'data' of object '#'"
- add: Added support for typescript in index.d.ts
- The NPM package was released @mars3d/heatmap.js

[2022-01-30 06:29] muyao1987 commented on #319
You can use this bug-fixed version：npm install @mars3d/heatmap.js

Corresponding source address： https://github.com/muyao1987/heatmap.js

# mars3d update
- fix: An error "Cannot assign to read only property 'data' of object '#'"
- add: Added support for typescript in index.d.ts
- The NPM package was released @mars3d/heatmap.js

[2022-01-30 06:29] muyao1987 commented on #314
You can use this bug-fixed version：npm install @mars3d/heatmap.js

Corresponding source address： https://github.com/muyao1987/heatmap.js

# mars3d update
- fix: An error "Cannot assign to read only property 'data' of object '#'"
- add: Added support for typescript in index.d.ts
- The NPM package was released @mars3d/heatmap.js

[2022-02-19 15:58] Colton1070 opened #346 "How to use in a backend Node JS environment?"
I'm not using this on a website.

I am frustrated to worlds end trying to find a working heatmap solution using node.js. This package tells you how to install it - and that's it. What?

How do I actually use it for that use? Is it not possible? I am ideally trying to take an image, take my data, map the data on the image, spit it out of my server. That shouldn't be that hard... Am I going to have

[2022-02-28 00:04] KilianB commented on #335
I just implemented the `removeData` function which could be used to achieve this task in combination with a simple `setTimeout`
https://github.com/KilianB/heatmap.js/commit/8893aadb6085b8ae5cf5552e3a2d678734219ddd

[2022-04-25 12:20] shenzhuxi commented on #325
https://github.com/pa7/heatmap.js/blob/master/plugins/leaflet-heatmap/leaflet-heatmap.js#L184
Although it's said "experimential... not ready.", it is actually working but setData not.

I can set the max value and draw the points like this:
[code]

As a Leaflet Layer extension, I think addData should simply wrap https://github.com/pa7/heatmap.js/blob/develop/src/data.js#L123 and setData should be r

[2022-05-12 02:51] iaaseihy commented on #219
so how can this problem be solved in version 2.0.5

[2022-05-12 11:00] ridweng commented on #219
Remove line 527 "img.data = imgData", or in the min version, locate this and delete it. That worked for me.

[2022-06-10 06:03] luojinzhang opened #348 "leaflet heatmap - crash when zoom out"
leaflet heatmap crashes when zoom out to level 3 of leaflet map. The error is from this line.
shadowCtx.drawImage(tpl, rectX, rectY);
Failed to execute 'drawImage' on 'CanvasRenderingContext2D': The image argument is a canvas element with a width or height of 0.
Current workaround is to set min zoom = 4 only.

[2022-06-28 14:18] ShetlandJ commented on #336
I had this in VueJS 3, but I just wrapped it on `onMounted(() => ... )`

[2022-07-04 06:14] lidroider opened #349 "Issue when set value 0 for dataPoints"
**v2.0.5**

If I normalize data to [0, 1] before draw heatmap, point having value = 0 is not exactly rendering.

[code]

### Output

<img width="519" alt="Screen Shot 2022-07-04 at 12 50 14" src="https://user-images.githubusercontent.com/12046727/177089703-fc19bea9-64da-4d1d-9761-4c951dc55427.png">

Although point (500,500) have value 0, the color after rendering is same the color of point (600,60

[2022-08-27 20:27] taimoorh13 commented on #320
Hello,
I am also trying to remove the heatmap layer using the code
map.removeLayer(heat);

But it does not seem to work. I get the following error when I try it.

Uncaught TypeError: Cannot read properties of undefined (reading '_leaflet_id')

And when I try to print out the layer using the console.log(heat); It gives me undefined.

In short, the layer is added properly to the map and I can see it

[2022-09-04 15:38] devman1489 opened #350 "heatmap issue on certain phones/browsers"
There is a problem that causes the webpage to crash. It works fine with my iPhone Xr and desktops, but for an iPhone 8 for safari and google (this is all I could test) it loads but half a second later causes either, "a problem repeatedly occurred" for safari or "the webpage is not available" for google.
I've narrowed it down to being the following lines of code...

                    heatmapLayer

[2022-09-07 10:46] taimoorh13 opened #351 "Cannot remove the heatmap layer"
I am trying to create a heatmap using this library and it does display perfectly using my data. However, the issue us that I want my web app to work with filters. So when a filter is applied, a request is sent to get the filtered the data. Now I want this heatmap to be created on this filtered data. I am trying to remove this existing layer and then add a new heatmap layer from the filtered data b

[2022-09-09 03:52] YuzKio opened #352 "setData problem in chrome"
I encountered a strange problem that the setData method doesn't work when I use it to initialize the heat map in a full screen window with chrome, but it seems to be no problem in firefox, btw, it can render normally in chrome when I open the devTool(adjusting the canvas width doesn't work, it seems to be affected by the client width?). I can't figure out why and how to fix it.

[2022-09-09 05:54] #352 closed, assigned to nobody

[2022-10-24 16:40] davquar commented on #351
Hi, `heat.setData({data: []})` should work

[2022-11-24 03:26] momolly1024 opened #355 "How to use Heatmap Animation Example?"
I saw the code below the [Heatmap Animation Example
](https://www.patrick-wied.at/static/heatmapjs/example-heatmap-animation.html).

But How can I use the example?
I try to add the code in html but ut not work.

[code]

Thank you.